
@{
    ViewBag.Title = "उपक्रम";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para">
                <strong>
                    विद्यार्थ्यांच्या सर्वांगीण विकाससाठी आमच्या विद्यालयात विविध सहशालेय व सामाजिक उपक्रम रांबावले जातात.<br />&nbsp;
                </strong>
            </div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">

                <p class="text-justify">
                    <strong>नवगटांचे स्वागत : </strong> आमच्या विद्यालयात ई ८ वी प्रवेशासाठो येणार्‍या विद्यार्थ्यांचे स्वागत गुलाब पुष्प देवून व खाऊ वाटप करून 
                    तसेच मोफत पाठ्यपुस्तके देवून केले जाते.
                </p>
                <p class="text-justify">
                    <strong> नैदानिक चाचणी :</strong> विद्यालयात  प्रवेश घेतलेल्या विद्यार्थ्यांची सर्व विषयांची नैदानिक चाचणी घेतली जाते.
                    तसेच लेखन विषय ज्ञान हस्ताक्षर कौशल्ल्ये मुल्ये ई गोष्टी तपासून प्रवेश निश्चित केला जातो व मार्गदर्शन केले जाते.
                </p>
                <p class="text-justify">
                    <strong> अनिवासी गुरुकुल :</strong> ई ८ वी ते  १०वी सकाळी ८.३० ते १०.३० व सायंकाळी ५.०० ते ६.०० गुरुकुल प्रकल्प राबवला जातो. या मध्ये गुणवत्ता वाढीसाठी विद्यार्थ्यांना स्कॉलरशिप NMMS. इंग्लिश मॅरेथॉन चित्रकला जनरल नॉलेज क्रीडा मार्गदर्शन केले जाते.
                </p>
                <p class="text-justify">
                    <strong> विज्ञान प्रबोधनी :</strong> विज्ञान प्रबोधणी कराड यांचे मार्फत विद्यालयात वृक्षा रोपण व बीजारोपन सातदरा डोंगर परिसरात राबवले जाते 
                    या उपक्रमातून पर्यावरण संरक्षण तसेच सामाजिक बांधिलकी जोपासली जाते.
                </p>
                <p class="text-justify">
                    <strong> रक्तदान शिबिर :</strong> रक्तदान शिबिरात विद्यालयातील शिक्षक कर्मचारी सहभाग घेतात या उपक्रमात 
                    माजी विद्यार्थी उत्स्फूर्त पाने सहभाग घेतात आजअखेर ५० विद्यार्थी व पालकांनी रक्तदान केले.
                </p>

                <p class="text-justify">
                    <strong>१.</strong> माध्यमिक शिक्षण विभागाने  ठरवून दिलेल्या ई ८वी ते १० वी वर्गांचा विषयवार अभ्यासक्रम व मूल्यमापन दिलेल्या वेळापत्रका द्वारे
                    वेळेत पूर्ण केला जातो विद्यालयाचा ई १० वी चा गत वर्षीचा निकाल १०० % लागला आहे. 
                    NMMS स्पर्धा परीक्षा ई ८ वी साथी असून आर्थिक दृष्ट्या मागास विद्यार्थ्या करिता २०० गुणांची परिक्षा घेतली जाते. या मध्ये शालेय क्षमता व बुद्धिमत्ता असे दोन 
                    विषय असतात. सन २०१४ पासून आज अखेर १३ विद्यार्थी शिष्यवृत्ती पात्र ठरले आहेत.
                    त्या विद्यार्थ्यांना ९ वी ते १२ वी पर्यन्त रु.४८००० शिष्यवृत्ती लागू झाली आहे.



                </p>
                <p class="text-justify">
                    <strong> २. </strong> पूर्व माध्यमिक शिष्यवृत्ती ई ८वी साठी ही परीक्षा असून या मध्ये मराठी एंग्रजी गणित बुद्धिमत्ता अशी एकूण ३०० गुणांची परीक्षा असते
                    सन २०१७ पासून सरासरी १५  विद्यार्थी बसवले जातात. शिष्यवृत्ती प्राप्त होण्यासाठी सराव व मार्गदर्शन केले जाते. निकाल १००% आहे.
                </p>
                <p class="text-justify">
                    <strong> ३. </strong> रोटरी क्लब ऑफ कराड यांचा वतीने गणित विषयाची  १०० गुणांची परीक्षा घेतली जाते यामध्ये आज 
                    अखेर ९ विद्यार्थी शिष्यवृत्तीसाठी पात्र झाले आहेत. त्या विद्यार्थ्यांना ८ वी ते  १० वी प्रतिवर्षी २००० रु शिष्यवृत्ती मिळते.
                </p>
                <p class="text-justify">
                    <strong> ४. </strong> GK Olymoiad ही परिक्षा विद्यार्थ्यांच्या जनरल नॉलेज वर असते सान २०१४ पासून या परीक्षेस विद्यार्थी बसवले जातात 
                    आजअखेर २१ विद्यार्थ्यांना प्रमाण पत्र व सुवर्णपदके दिली जातात.

                </p>
                <p class="text-justify">
                    <strong> ५.</strong> हिन्दी बाह्य परीक्षा विद्यालयात ८वी ९वी १०वी हिन्दी बाह्य परीक्षा सातारा हिन्दी
                    अध्यापक मंडळाकडून घेतली जाते  या मध्ये विशेष योग्यता ५ विद्यार्थी अ श्रेणी १५ विद्यार्थी ब १२ विद्यार्थी अशा प्रकारे श्रेणी 
                    प्राप्त झाली आहे दरवर्षी १०० % निकाल लागतो.

                </p>
                <p class="text-justify">
                    <strong> ६. </strong> इंग्लिश मॅरेथॉन ई ८ वी  ९ वी साठी शाळास्तर व राज्यस्तर अशा दोन टप्प्यात परिक्षा होते वचन लेखन श्रवण 
                    व लेखन या वर १०० गुणांची परीक्षा असते. 
                    २०१८ पासून ३० विद्यार्थी परीक्षेत बसवले असून निकाल १०० % लागला आहे. अनेक विद्यार्थ्यांना सुवर्णपदके व प्रमाणपदके मिळाली आहेत.
                </p>
                <p class="text-justify">
                    दिवाळी मधील वाढते प्रदूषण व अपघात याला आळा घलण्याठी विद्यार्थी व पालकांमध्ये प्रबोधन करण्यासाथी संस्था व शाळे मार्फत 
                    जनजागृती केली जाते तसेच फटाके न फोडण्याची शपथ घेतली जाते.
                </p>
                <p class="text-justify">
                    विद्यालयात विज्ञान प्रदर्शन व अपूर्व विज्ञान मेळावा अंधश्रद्धा निर्मूलन कार्यक्रम विद्यालयामध्ये राबवले जातात जनजागृती करून वैज्ञानिक दृष्टीकोन निर्माण केला जेतो.
                </p>
            </div>

            <div class="col title-para"><strong>विद्यालयात राबवले जाणारे आभासपूरक उपक्रम व सहशालेय उपक्रम</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">

                <ul>


                    <li>
                        विविध जागतिक दिन व जयंती साजरी करने.
                    </li>
                    <li>
                        शैक्षणिक परिसर निरीक्षण सहल
                    </li>
                    <li>
                        सायकल चालवा प्रदूषण थांबवा.
                    </li>
                    <li>
                        कार्यनुभव वस्तूंचे प्रदर्शन, तक्ते
                    </li>
                    <li>
                        रक्तदान शिबिर सहभाग
                    </li>
                    <li>
                        चित्रकला स्पर्धा
                    </li>
                    <li>
                        फाटके मुक्त दिवाळी साजरी करणे
                    </li>
                    <li>
                        लेक वाचवा शाळा शिकवा
                    </li>
                    <li>
                        वृक्षा रोपण व बीजारोपन
                    </li>
                    <li>
                       रांगोळी, मेहंदी स्पर्धा
                    </li>
                    <li>
                        तंबाकू मुक्त अभियान
                    </li>

                </ul>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>




