@{
    ViewBag.Title = "मुखपृष्ठ";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@Html.Partial("_LayoutWebsite\\_slider")
<!--BODY START-->
<div class="container-bg">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="info-title">
                    शाळेबद्दल थोडेसे
                </div>
                <p class="text-justify">
                    ग्रामीण भागातील विद्यार्थी व विद्यार्थींनीच्या शिक्षणातील अडचणी लक्षात घेवून
                    श्री. मळाईदेवी शिक्षण संस्थेने शिक्षणाची सोय व्हावी म्हणून न्यू  इंग्लिश स्कूल कासारशिरंबे ता.कराड
                    या मराठी माध्यम असलेल्या विद्यालयाची स्थापना जून 1998 रोजी केली. सध्या विद्यालयात ई ८ वी ते १० वी
                    चे वर्ग सुरू केले या मध्ये १४५ विद्यार्थी शिक्षण घेत आहेत. विद्यार्थ्यांच्या अंगी असलेल्या कालगुणांना वाव मिळवा म्हणून
                    वकृत्व, पाककला, चित्रकला, रांगोळी, मेहंदी तसेच क्रीडा स्पर्धेचे आयोजन केले जाते. कासारशिरंबे या ग्रामीण भागात
                    विद्यालयाने अल्पावधीत नावलौकिक मिळवला आहे.

                </p>
                <p class="text-justify">
                    आमचे विद्यालयामध्ये दर्जेदार व गुणवत्तापूर्ण शिक्षण दिले जाते. न्यू इंग्लिश स्कूल कासारशिरंबे हे एक आदर्श शैक्षणिक संकुल आहे.
                </p>



                <a href="/about/objective" class="btn btn-danger">पुढे वाचा</a>
            </div>
            <div class="col-6 col-md-4">
                <div class="info-img">
                    <img src="\img\capw300x260h.PNG">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-bg">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="info-title">
                    संस्था विशेषांक
                </div>
                <p class="text-justify">

                    कराड दक्षिण मधील डोंगराच्या खुशीत वसलेले मौजे कासारशिरंबे गाव आहे सुरवातीच्या काळी मुलामुलींना माध्यमिक शिक्षण घेण्यासाठी
                    पायी चालत व सायकल वरुन बाहेर गावी जावे लागत असे.
                    परंतु ग्रामीण भागातील मुलांचा शिक्षणाची गैरसोय ग्रामस्थांनी श्री मळाईदेवी शिक्षण संस्थेच्या निदर्शनास आणून दिली
                    <b>|| ज्ञान सरिता नित्य खिळखिळे | विज्ञान संस्करे पिकती मळे|| </b>
                    या ब्रीद वाक्यानुसार संस्थेने न्यू  इंग्लिश स्कूल कासारशिरंबे ता. कराड या मराठी माध्यम असलेल्या विद्यालयाची स्थापना जून 1998 रोजी केली.
                    सुरवातीच्या काळात  विद्यालय चालवत असताना अनेक प्रशासकीय समस्या जाणवू लागल्या परंतु संस्थेचे व संचालक मंडळाच्या मार्गदर्शना मुळे
                    त्याचावर मात करता आली.
                    मौजे कासारशिरंबे कुस्ती व बैलगाडी शर्यत या नावाने प्रसिद्ध आहे.
                    परंतु संस्थेच्या विद्यालयाच्या कामकाजामुळे शैक्षणिक गुणवत्तेत सुद्धा गावचा नावलौकिक वाढला आहे.
                    गावच्या विकासात व सामाजिक कार्यात विद्यालयाचा  हातभार वेळोवळी असतो.


                </p>
                <p class="text-justify">
                    अध्ययन अध्यापन प्रक्रिया जरी व्यक्तिनिष्ठ असली तरी ती एक सामाजिक प्रक्रिया आहे.
                    म्हणून विद्यार्थी हा सामाजिक व संकृतिक संदर्भातून शिकत असतो यासाठी विषेश सांस्कृतिक कार्यक्रमांचे आयोजन करणे,
                    अप्रगत विद्यार्थ्यांच्या शोध घेणे वाचन व लेखन याचे मार्गदर्शन व सराव घेणे शालेय क्रीडा स्पर्धा व शिबिरे घेणे, सामाजिक उपक्रमात सहभाग दाखवणे,
                    आरोग्य विषयी जंनजागृती करणे.
                    प्रत्येक विध्यर्थ्यांची अध्ययन शैली वेगळीन असते म्हणून तिच्या अध्ययन शैली नुसार शिकण्यास मिळेल
                    व सक्रिय नागरिक म्हणून कौशल्यावर आधारित प्रभुत्व मिळवेल तो उत्पादकक्षम बनेल यासाठी वरील सर्व उपक्रम शाळेत राबवले जातात.
                    कारण याचा शाळेच्या गुणवत्ता विकास अवलंबून असतो.
                </p>
                <p class="text-justify">
                    आदरणीय पी. डी. पाटील गौरव प्रतिष्ठानच्या वतीने घेण्यात येणार्‍या स्वछ शाळा सुंदर शाळा स्पर्धेत सहभाग
                    घेऊन विद्यालयाने सलग दोन वेळा पुरस्कार मिळाला आहे.
                </p>
            </div>
            @*<div class="col-6 col-md-4">
                    <div class="info-img">
                        <img src="\img\capw300x260h.PNG">
                    </div>
                </div>*@
        </div>
    </div>
</div>

@Html.Partial("_LayoutWebsite\\_feedbackslider")

<div class="full-widht sec-bg">
    <div class="container full-widht padding-10">
        <div class="row">
            <div class="col-12 col-md-12 sec-bg">

                <div class="sec-bg">  <img src="~/img/Ashokrao_Kisan_Thorat.png" />               </div>
                <div class="sec-title">   संस्थेचे आधारस्तंभ  आणि  आमचे मार्गदर्शक              </div>
                <div class="sec-name">    संस्थेचे सचिव मा. श्री. अशोकराव किसन थोरात              </div>
                <p class="text-justify">

                    <strong>श्री मळाईदेवीच्या कृपेने,</strong> <br /><br />
                    &nbsp;&nbsp;&nbsp;&nbsp; श्री मळाईदेवी शिक्षण संस्थेची स्थापना जून १९७२ रोजी परमपूज्य ब्रम्हिभूत गंगाधर वासुदेव चैतन्य महाराज यांच्या अध्यक्षतेखाली झाली.
                    समाजातील गरीब, कष्टकरी, शेतकरी, मागासवर्गीय, मध्यमवर्गीय यांच्या मुलामुलींचे दर्जेदार शिक्षण बालवाडीपासून महाविद्यालयापर्यंत झाले पाहिजे.
                    या उदात्त हेतूने स्थापना झाली. अल्पावधीतच संस्थेने पहिले माध्यमिक विद्यालय मलकापूर येथे सुरू केले व पुढे
                    आगाशिवनगर, पोतले, कासारशिरंबे, बालवाडी ते उच्च माध्यमिक अशी अनेक शाळा, महाविद्यालये स्थापन केली.
                </p>
                <p class="text-justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;गुणवंत विद्यार्थी घडवत असताना शिक्षक ,कर्मचारी, विद्यार्थी, पालक, समाज, शासन यांचे उत्तम सहकार्य लाभले.
                    संस्थेने समाजातील दानशूर व्यक्तींच्या व माजी विद्यार्थ्यांच्या सहकार्याने व स्वनिधीतून प्रत्येक शाळेसाठी जागा खरेदी करून भव्य इमारती बांधल्या.
                    शिक्षक व्यवस्थेमध्ये जागतिकीकरण व प्रगत विज्ञान तंत्रज्ञान याचे आव्हान स्वीकारून शिक्षकांचे प्रशिक्षण करून संगणक
                    व इतर वैज्ञानिक प्रणालीचा शिक्षणात वापर केला.
                    प्रचंड वेगाने बदलणारे, झपाट्याने पुढे चाललेले प्रगत जग, वाढणारी लोकसंख्या व बदलणारे त्रासदायक हवामान याशिवाय राहणीमान व
                    बदलणारे मानवी सांस्कृतिक निकष अशा सर्व आव्हानांना सहज पेलू शकतील असे विद्यार्थी घडवण्यासाठी
                    श्री मळाईदेवी शिक्षण संस्था सातत्याने कार्यरत आहे.
                </p>
                <p class="text-justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;संस्थेचे संस्थापक व विद्यमान सदस्य, सभासद , आजी-माजी शिक्षक शिक्षिका, विद्यार्थी, पालक, शिक्षणप्रेमी, कार्यकर्ते, नेते, राजकीय, पदाधिकारी, सामाजिक कार्यकर्ते,
                    शासकीय अधिकारी, स्थानिक स्वराज्य संस्थेचे अधिकारी, पदाधिकारी सर्वांना विनंती करतो की शिक्षण हे पवित्र क्षेत्र आहे
                    व त्याच भावनेने आपण सर्वांनी आपले मतभेद विसरून एकत्र कार्य केले पाहिजे.
                    आपल्या समाजातील भावी पिढ्या आपल्या कर्तृत्वपूर्तीकडे डोळे लावून बसल्या आहेत याची जान ठेवून शिक्षण देण्यासाठी एकत्र येवून संघटित
                    होवूया. व तनमनधन अपूर्ण कर्तव्य करत राहूया. भविष्यकाळ उज्वल आहे.
                    नव्या आशेने सातत्याने कार्यरत राहूया.

                </p>

                <p class="" style="text-align:right">
                    धन्यवाद!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                    श्री. अशोकराव किसन थोरात&nbsp;&nbsp;&nbsp;
                </p>
            </div>
        </div>
    </div>
</div> <!-- sec-bg end -->


<div class="full-widht">
    <div class="container full-widht">
        <div class="row">
            <div class="col-12 col-md-12 ">
                @Html.Partial("_nofitications")
            </div>
        </div>
    </div>
</div>

<script>
    function onload() {
        $('[data-toggle="lightbox"]').on("click", function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        $('#feedbackCarousel').bsTouchSlider();
    }
</script>
