
@{
    ViewBag.Title = "यशस्वी विद्यार्थी";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata hide">


        <div class="container container-bg padding-bottom-15 padding-top-15">
            <div class="row">
                <div class="col title-para"><strong> आमचे क्रीडा क्षेत्रातील उल्लेखनीय यश</strong>  <br /> &nbsp;</div>
                <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">नाव  </th>
                                <th scope="col">स्पर्धा</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td scope="row">
                                    १
                                </td>
                                <td>कु. मिनाक्षी खरात </td>
                                <td> उंचउडी प्रथम, राज्यस्तरीय स्पर्धेसाठी निवड </td>
                            </tr>
                            <tr>
                                <td scope="row">२</td>
                                <td>साकिब जामदार </td>
                                <td>  उंचउडी द्वितीय, राज्यस्तरीय स्पर्धेसाठी निवड </td>
                            </tr>
                            <tr>
                                <td scope="row">३</td>
                                <td>कु. नेहा थोरात, मोरे ऋषिकेश तानाजी </td>
                                <td> शूटिंग स्पर्धेत तृतीय , विभागीय निवड </td>
                            </tr>
                            <tr>
                                <td scope="row">४</td>
                                <td>साईनाथ शिंदे </td>
                                <td> हातोडा फेक तृतीय, विभागीय निवड </td>
                            </tr>
                            <tr>
                                <td scope="row">५</td>
                                <td>गणेश मोहिते </td>
                                <td> ३००० मीटर चालणे विभागीय निवड </td>
                            </tr>
                            <tr>
                                <td scope="row">६</td>
                                <td>दीपक शारकी  </td>
                                <td> उंचावडी विभागीय निवड </td>
                            </tr>
                            <tr>
                                <td scope="row">७</td>
                                <td>कु. आकांक्षा पाटील </td>
                                <td> थाळी फेक विभागीय निवड </td>
                            </tr>
                            <tr>
                                <td scope="row">८</td>
                                <td>कु. प्रीती मोहिते  </td>
                                <td> ४०० मी धावणे विभागीय निवड </td>
                            </tr>
                            <tr>
                                <td scope="row">९</td>
                                <td>दीपक कुंभार  </td>
                                <td>८०० मी धावणे विभागीय निवड </td>
                            </tr>
                            <tr>
                                <td scope="row">१०</td>
                                <td>नवनाथ मोहिते </td>
                                <td> योगासन स्पर्धा जिल्हा निवड</td>
                            </tr>
                            <tr>

                        </tbody>
                    </table>
                    <div class="col title-para"> <br /> &nbsp; <br /> &nbsp;<strong>विद्यालयाचे विविध स्पर्धेतील व परीक्षेतील यश</strong> <br /> &nbsp;</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">स्पर्धा</th>
                                <th scope="col">नाव  </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>इ. १० वी. सन २०१५-१६, प्रथम क्रमांक - ९५.१५% </td>
                                <td>शक्ती मंगलसिह राजपुरोही </td>

                            </tr>
                            <tr>
                                <td>सन २०१६-१७ दुर्गादेवी ट्रस्ट शिष्यवृत्ती परीक्षेत ९ विद्यार्थी  शिष्यवृत्तीधारक  </td>
                                <td> (तडाखे अभिजित, माने अक्षय, माी सुरज, किर्वे ऋषिकेश, बगल अविनाश, सूर्यवंशी साहिल, दाताचे श्रेया, लावंड रोहिणी) </td>
                            </tr>
                            <tr>
                                <td>सन २०१६-१७ एन.एम.एम.एस. शिष्यवृत्ती परीक्षेत ४ विद्यार्थी  शिष्यवृत्तीधारक </td>
                                <td> (अभिजित तडाखे, श्रेया दातार,ढेरे प्रतीक, जाधव प्रतीक) </td>
                            </tr>
                            <tr>
                                <td>भारती विद्यापीठ पुणे इंग्रजी भाह्या परीक्षेत </td>
                                <td> कु. बामणे स्वरूपा अनिल राज्यात तिसरी  </td>
                            </tr>
                            <tr>
                                <td>जिल्हास्तरीय इंस्प्राय अवार्ड प्रदशनात उपकरणाची राज्यस्तरीय निवड </td>
                                <td>  </td>
                            </tr>
                            <tr>
                                <td>राज्यस्तरीय निबंध स्पर्धेत ५ विद्यार्थी सहभागी  </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>पोलीस स्टेशन कराड राज्यस्तरीय वक्तृत्व स्पर्धेत </td>
                                <td>तेजस पाटील, कु. सबा सय्यद उत्तेजनार्थ क्रमांक  </td>
                            </tr>
                            <tr>
                                <td>तालुका स्तरीय विज्ञान प्रदर्शनात प्रश्नमंजुषा  तृतीय क्रमांक</td>
                                <td> संस्कार जोशी   </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

