
@{
    ViewBag.Title = "ग्रंथालय";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">सुविधा</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">

            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12 card p-0">
                <div class="card-header font-weight-bold">
                    <strong>@ViewBag.Title</strong>
                </div>
                <img src="~/img/Departments/library.png" class="title-image" />

                @*<div class="col title-para">&nbsp; <br /> <strong>ग्रंथालय व पुस्तकपेढी</strong> </div>*@
                <div class="col">
                    <p class="text-justify">
                        <br />
                        विद्यालयास स्वतंत्र ग्रंथालय असून ३००० एवढी वैविध्यपूर्ण ग्रंथसंपदा आहे. 
                        विद्यालयामध्ये शैक्षणिक वैज्ञानिक मासिके, दैनिके वाचण्यासाठी उपलब्ध करून दिली जातात. 
                        विद्यार्थी व शिक्षक देवघेव रजिस्टर व पुस्तक रजिस्टर आहे. १५ ऑक्टोबर या दिवशी वाचन प्रेरणा दिनानिमित्त प्रत्येक विद्यार्थ्याकडून
                        २ पुस्तके ऐच्छिक स्वरुपात भेट म्हणून 
                        घेतली जातात.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                @Html.Partial("_nofitications")
            </div>
        </div>

    </div>
</div>



