
@{
    Layout = null;
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>404 Page Not Found</title>
    <link rel="stylesheet" type="text/css" href="/css/errorpage.css">
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div>
        <div class="error-code">404</div>
        <div class="error-text">Oooops! No Such Page.</div>
        <div class="error-home-link">Take me to <a href="/">Home</a>.</div>
    </div>
</body>
</html>