
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Unhandled - Operaion Failed</title>
    <link rel="stylesheet" type="text/css" href="/css/errorpage.css">
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <div>
        <div class="error-code">500</div>
        <div class="error-text">System time out. Select <a href="/" class="home-link">Home</a> to continue.</div>
           </div>
</body>
</html>
