<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DalContext" connectionString="Data Source=G:\PleskVhosts\ewsindia.in\SMSS\db\acvmalkapur.sqlite" providerName="System.Data.SQLite" xdt:Transform="Replace" />
  </connectionStrings>

  <log4net>
    <appender name="DailyAppenderWithPrefixExtension" type="Application.Utilities.DailyAppender,Application.Utilities">
      <File type="log4net.Util.PatternString" value="G:\PleskVhosts\ewsindia.in\SMSS\logs"  xdt:Transform="Replace"/>
      <Prefix value="acvmalkapur" xdt:Transform="Replace"/>
    </appender>
  </log4net>
  <system.web>
     <customErrors mode="On" defaultRedirect="~/Error/UnspecifiedError" xdt:Transform="SetAttributes" >
      <error statusCode="404" redirect="~/Error/PageNotFound" />
      <error statusCode="500" redirect="~/Error/Unhandled" />
    </customErrors>
    <trust level="Full" xdt:Transform="InsertIfMissing"/>
  </system.web>
</configuration>
