
@{
    ViewBag.Title = "उपक्रम";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para ">
                <strong>
                    विद्यार्थ्यांच्या सर्वांगीण विकासासाठी सामाजिक उपक्रम राबविले जातात.<br />&nbsp;
                </strong>
            </div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12 ">

                <p class="text-justify">
                    पालकसभा व पालकभेटी घेतल्या जातात.
                </p>
                <p class="text-justify">
                    विद्यालयाच्या शैक्षणिक कार्याचे ओझरते दर्शन होण्याच्या दृष्टीने “सुसंवाद” हा वार्षिक अहवाल दरवर्षी १ मे रोजी प्रसिद्ध केला जातो.
                </p>
                <p class="text-justify">
                    महिला मेळावे व हळदीकुंकू समारंभाचे आयोजन केले जाते.
                </p>
            </div>

            <div class="col title-para"><strong>विद्यालयात राबवले जाणारे अभ्यासपूरक उपक्रम व सहशालेय उपक्रम</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                विद्यार्थ्यांच्या सर्वांगीण विकासाचे उद्दीष्ट डोळ्यासमोर ठेवून शाळेत विविध उपक्रम राबवले जातात. पालकांनी ज्या विश्वासाने आपली मुले सोपवली आहेत 
                तो जाणण्याचा व जपण्याचा शाळेचा सदैव प्रयत्न असतो.
                या दृष्टीने वर्षभरामध्ये पुढील उपक्रम राबवले जातात.

                <ul>

                    <li>नवागत स्वागत समारंभ</li>
                    <li>गुरुपौर्णिमा</li>
                    <li>परिसर निरीक्षण सहल</li>
                    <li>आदर्श बालबाजार</li>
                    <li>वार्षिक स्नेहसंमेलन</li>
                    <li>बालिका दिन </li>
                    <li>पालकांसाठी पाककला स्पर्धा </li>
                    <li>सहल</li>
                    <li>राष्ट्रीय कार्यक्रम </li>
                    <li>रक्तदान शिबीर </li>
                    <li>फटाकेमुक्त दिवाळी</li>
                    <li>वृक्षारोपण व बीजारोपन</li>
                    <li>चित्रकला स्पर्धा </li>
                    <li>क्षेत्रभेटी</li>
                    <li>रांगोळी</li>

                </ul>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>




