
@{
    ViewBag.Title = "वैशिष्ट्ये";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>विद्यालयाची वैशिष्ट्ये </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <p>
                    <strong>विद्युतपुरवठा :</strong> २४x७ विद्युतपुरवठा होण्याचा दृष्टीने विद्यालयाचे उपक्रमशील मुख्याध्यापक श्री. पवन पाटील सरांचे संकल्पनेतून 
                    सौर विद्युत यंत्रणा जोडली असून कोणत्याही पद्धतीचा विद्युत खर्च न होता शाळेला मोफत भरपूर वीज मिळते.
                </p>
                <ul>
                    <li>विद्यालयाची सुसज्ज इमारत </li>
                    <li>प्रशस्त व सर्व सोईनियुक्त RCC इमारत  </li>
                    <li>स्पर्धा परीक्षांची तयारी व मार्गदर्शन </li>
                    <li>समृद्ध ग्रंथालय </li>
                    <li>अद्यावत प्रयोगशाळा </li>
                    <li>स्वतंत्र संगणक कक्ष</li>
                    <li>निकालाची उज्वल परंपरा </li>
                    <li>समूह गीत गायन स्पर्धा</li>
                    <li>खेळाचे विशेष मार्गदर्शन व उन्हाळी क्रीडा शिबिराचे आयोजन /li>
                    <li>वक्तृत्व व निबंध स्पर्धेचे मार्गदर्शन</li>
                    <li>एच. एस. सी. परीक्षा उचांकी निकालाची परंपरा कायम</li>
                    <li>सीसी टीव्ही कॅमेरा सुरक्षा यंत्रणा कार्यरत.</li>
                </ul>
            </div>

        </div>
       
    </div>
</div>


