
@{
    ViewBag.Title = "उद्दिष्टे";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            @*<div class="col title-para"><strong></strong>  <br /> &nbsp;</div>*@
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12 text-justify">
                <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12 text-justify">
                    <p class="text-justify">
                        शिक्षणामुळे व्यक्तिमत्वाचा संपूर्ण व सर्वांगीण विकास होतो.
                        विद्यार्थ्यांचा विविध अंगी विकास करण्यासाठी शाळेमध्ये विविध शालेय व सहशालेय उपक्रमाचे आयोजन करणे आवश्यक आहे. 
                        या उपक्रमातूनच विद्यार्थ्यांचे व्यक्तिमत्व विकसित होते.
                    </p>
                    <p class="text-justify">
                        विद्यार्थ्यांचा व्यक्तिमत्व विकास साधत असताना विद्यालयामध्ये विविध उपक्रम राबविले जातात.
                        या उपक्रमातून त्यांच्य अंगी असणार्‍या सुप्त गुणांचा विकास होतो.
                        अशा कार्यक्रमातून नेतृत्व गुण, संस्कार, निरीक्षण, सुजनशिलता, सामाजिक बांधिलकीची जाणीव, संग्राहकता, श्रवणक्षमता, सेवाभावी वृत्ती, राष्ट्रीय काम, राष्ट्रभक्ती,
                        अभिनय कौक्षल्य इत्यादी क्षमतांचा विकास होतो व त्यामधूनच व्यक्तिमत्व उदयास येते.
                    </p>
                    <p class="text-justify">
                        शैक्षणिक विषयात आवश्यक कार्यक्रम मोठ्या प्रमाणात शोधणे अपरिहार्य आहे.
                        विशिष्ट संस्कार विद्यार्थ्यांपर्यंत पोहोचवणे आवश्यक आहे. शाळेमध्ये राबवले जाणारे विविध उपक्रम हीच व्यक्तिमत्व विकासाठी प्राथमिक बीज असतात.
                        यामधूनच विद्यार्थ्यांच्या वर्तनात परिवर्तन घडून येते. विद्यार्थ्यांचा सर्वांगीण विकास हा शिक्षणाचा मुख्य उद्देश  आहे.
                    </p>
                    <p class="text-justify">
                        विद्यार्थ्यांच्या जीवनातील शैक्षणिक काळ अत्यंत संवेदनशील व जडण घडणीस योग्य असल्यामुळे त्याच्या सर्वांगिक बौद्धिक, नैतिक, शारीरिक, समाजीक,
                        अध्यात्मिक, विकासासाठी त्यांना समर्थ सुयोग्य व जबाबदार नागरिक घडविण्यासाठी अभ्यासोत्तर उपक्रमच अत्यंत प्रभावी माध्यम आहे.
                        सामाजिक व नवराष्ट्रनिर्मितीच्या परिवर्तनाची धुरा शिक्षण संस्थांच्यावरती सोपविण्यात आली आहे.
                    </p>
                    <p class="text-justify">
                        डॉ. राधाकृष्ण म्हणतात "आपण एक संस्कृती घडवीत आहोत. कारखाना नाही.
                        संस्कृतीचे मूल्य व श्रेष्ठत्व हे भौतिक समृद्धी अथवा शासकीय यंत्रणा यावर अवलंबून नसून माणसाच्या चारित्र्यावर आहे.
                        म्हणून शिक्षकाचे प्रमुख काम हे चारित्र्यानिर्मिती आहे. आणि अभ्यासपूर्वक कार्यक्रम हेच चारित्र्य निर्मितीचे प्रमुख व प्रभावी साधन आहे.
                    </p>


                </div>

            </div>
        </div>
    </div>
</div>

             

               