
@{
    ViewBag.Title = "मुख्याध्यापक कक्ष";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


        <div class="container padding-top-15 padding-bottom-15">
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="principal-photo">
                        <img width="340" src="~/img/img_pricipal.png" />
                    </div>
                    <div class="principal-name">
                        श्री.पाटील आर. आर.
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> B.Sc. M.Ed.</td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td><a href="mailto:rrpatil_karad@rediffmail.com">rrpatil_karad@rediffmail.com</a> </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> <a href="tel:02164241367">(०२१६४) २४१३६७ </a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="para-title">मुख्याध्यापकांचा संदेश </div>
                    <p class="para-text">


                        विद्यालयाची सर्वसोयीनियुक्त विज्ञान प्रयोगशाळा नेहमीच विद्यार्थ्यांचा वैज्ञानिक दृष्टिकोन जोपासत असते इन्स्पायर अवॉर्ड मध्ये प्रतीवर्षी शाळेचा सहभाग असतो.
                        विद्यालया अंतर्गत विज्ञान प्रदर्शन व शैक्षणिक साधन निर्मिती प्रदर्शन आयोजित केले जाते. विद्यार्थ्यानी विद्यार्थ्यासाठी चालवलेले “जीवन ज्योति सहकार भांडार” महत्वपूर्ण आहे.
                        विद्यार्थी संचालिका, राष्ट्रीय हरितसेना, बिजारोपण, वृक्षसवर्धन ,आरएसपी स्काऊट गाईड ई.
                        विविध विभागामार्फत अनेक उपक्रम राबवून विद्यार्थ्याना काळाची पावले ओळखून जीवनात गतिमान व सक्षम करण्याचा नेहमीच प्रयत्न केला जातो.
                        लेझीम, झांजपथक, लाठीकाठी, दांडपट्टा या मर्दानी खेळाचा वारसा विद्यालयाने मनापासून सांभाळला आहे.
                    </p>
                    <p class="para-text">
                        आमचे विद्यालयामध्ये दर्जेदार व गुणवत्तापूर्ण शिक्षण दिले जाते. आदर्श ज्युनिअर  कॉलेजहे एक आदर्श शैक्षणिक संकुल आहे.
                    </p>

                </div>


            </div>

        </div>

    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

