
@{
    ViewBag.Title = "नियम";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>शिस्ती सबंधीचे सर्वसाधारण नियम </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <p class="text-justify">
                    <strong>ओळखपत्र आवश्यक:</strong> कॉलेजमध्ये प्रवेश घेतलेल्या सर्व विद्यार्थ्यांनी ओळखपत्र सतत जवळ ठेवणे आवश्यकआहे.  कॉलेजशी संबधित असलेल्या कोणत्याही जबाबदार व्यक्तीने चौकशी केल्यास ओळखपत्र दाखवावे लागेल. ओळखपत्र हरवल्यास एका आठवड्यात त्या सबंधी लेखी कळवून नवीन ओळखपत्र घ्यावे. ओळखपत्रारासाठी नेहमीच्या वेशात गॉगलविरहित आयडेंटिटी कार्ड आकाराचा रंगीत फोटो असावा.
                </p>
               
                <ul>
                    <li>वर्गात, ग्रंथालयात व कॉलेजच्या आवारात शिस्त व शांतता पाळावी.</li>
                    <li>कॉलेज इमारत, फर्निचर, ग्रंथ, प्रयोग साहित्य इत्यादींची मोडतोड करणे, त्यावर मजकूर लिहिणे या गोष्टी अक्षम्य समजल्या जातील.</li>
                    <li>दुचाकी वाहने, सायकल नेमून दिलेल्या जागीच लावावीत.</li>
                    <li>तास चालू असताना वरांड्यात दंगा करत किवा गप्पा मारत बसू नये.</li>
                    <li>कॉलेजमध्ये प्रवेश घेतल्यानंतर गणवेश व ओळखपत्र कायम आवश्यक आहे.</li>
                    <li> हजेरी नियमित असावी किमान हजेरी 80% आवश्यक आहे।</li>
                    <li>हरवलेल्या व सापडलेल्या वस्तुसंबंधी ऑफीस मध्ये माहिती द्यावी.</li>
                    <li>शासन व बोर्ड नियमानुसार विद्यार्थ्याची वार्षिक हजेरी कमी असेल तर त्यास बोर्डाच्या परीक्षेस बसता येणार नाही. तसेच त्यास कोणतीच आर्थिक सवलत मिळणार नाही.</li>
                    <li>शिस्तीसंबंधी प्राचार्यांचा निर्णय अंतिम राहील.</li>
                    <li>बुधवारी सायकलवरुण/पायी यावे. इंधनावर चालणार्‍या गाड्या आणू नयेत. पर्यावरण सुधारण्यास मदत करावी.</li>
                    <li>विद्यालयाचा आवारात मोबाईल अढळल्यास जप्त केला जाईल. </li>
                    <li>मोबाईल वापरण्यास सक्त मनाई आहे. </li>
                    <li>वरील नियम व शिस्तीसंबंधी वेळोवेळी दिल्या जाणार्‍या सूचनांचे पालन करणे आवश्यक आहे अन्यथा कडक करवाई केली जाईल.</li>

                </ul>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
