
@{
    Layout = null;
}
<div class="full-widht top-contact menu-bg">
    <div class="container">
       
            <div class="float-left" style="position: absolute;">
                <img src="\img\icon_calll24x24.png">
                <a href="tel:@Websitedata.phone">@Websitedata.phone1marathi</a>
                <img src="\img\icon_email24x24.png">
                <a href="mailto:@Websitedata.email">@Websitedata.email</a>
            </div>
            <div class="float-right">
                <a href="#facebookpage" target="_blank">
                    <img src="\img\social22x22facebook.png">
                </a>
                <a href="#twitterpage" target="_blank">
                    <img src="\img\social22x22twitter.PNG">
                </a>
            </div>
        </div>
    
</div>
<div class="full-widht top-pagetitle">
    <div class="container">
        <div class="row">
            <div class="school-logo align-center col-md-2">
                <img src="\img\logo110x110.PNG">
                <img src="\img\Ashokrao_Thorat.PNG" class="show-on-small">
            </div>
            <div class="school-name-container col-md-8">
                <div class="school-slogan">
                    ज्ञान सरिता नित्य खळखळे | विज्ञान संस्कारे पिकती मळे
                </div>
                <div class="school-sanstha">
                    श्री मळाईदेवी शिक्षण संस्थेचे,
                </div>
                <div class="school-name">
                   @Websitedata.SchoolTitle
                </div>
            </div>

            <div class="school-logo-right align-center col-md-2 show-on-larg">
                <img src="\img\Ashokrao_Thorat.PNG">
            </div>
        </div>


    </div>
</div>

