@{
    ViewBag.Title = "क्रीडा विभाग";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">विभाग</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">

            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12 card p-0">
                <div class="card-header font-weight-bold">
                    क्रीडा विभाग
                </div>
                <img src="~/img/departments/sports.png" class="title-image" />

                <div class="col title-para">&nbsp; <br /> <strong></strong> </div>
                <div class="col">
                    <p class="text-justify">
                        विद्यालयामध्ये क्रीडा विभाग अत्यंत प्रभावीपणे राबवला जातो.
                        विद्यार्थ्यांमध्ये खेळाची आवड निर्माण व्हावी, शारीरिक दृष्ट्या निरोगी पाहण्यासाठी विद्यार्ल्यातून राज्य व राष्ट्रीय स्तरावरील खेळाडू घडवण्यासाठी संस्थेचा वतीने विविध खेळाचे,
                        क्रीडास्पर्धांचे आयोजन केले जाते. शासकीय शालेय मैदानी स्पर्धा विविध असोसिएशनच्या स्पर्धा, यासाठी नियमित क्रीडा वर्ग घेतला  जातो.
                        स्पर्धेसाठी विद्यार्थी पाठविले जातात. संस्थेचा वतीने राज्य व राष्ट्रीय स्तरावरील यशस्वी खेळाडूंचा सत्कार केला जातो.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                @Html.Partial("_nofitications")
            </div>
        </div>

    </div>
</div>




