
@{
    ViewBag.Title = "वैशिष्ट्ये";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>विद्यालयाची वैशिष्ट्ये </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <p>
                    <strong> इ. ५ वी ते १० वी मराठी व सेमी इंग्रजी प्रवेश सुरू.</strong>
                </p>
                <ul>
                    <li>फक्त मुलींची शाळा, </li>
                    <li>स्पर्धेचा युगात ऊज्वल करियर घडवण्यासाठी इ. ९ वी व १० वी साठी व्यवसाय मार्गदर्शन विषयाची खास सोय </li>
                    <li>मानसिक क्षमता चाचणी द्वारे विद्यार्थिनींना खास मार्गदर्शन</li>
                    <li>इ. ५ वी गणित व संगणक ऑलिम्पीयाड ६ वी एस. डी. टी. एस,एम. टी. एस.</li>
                    <li>इ. ७ वी माध्यमिक शिष्यवृत्ती –खास मार्गदर्शन </li>
                    <li>दरवर्षी नियमितपणे विद्यार्थ्यांची वैद्यकीय तपासणी व मार्गदर्शनपर डॉक्टरांची व्याख्याने </li>
                    <li>राष्ट्रीय हरित सेना योजना –बीजारोपन,वृक्षारोपण, इ. निसर्ग संवरधनाचे उपक्रम </li>
                    <li>इ. १० वी साठी सुट्टीतील वर्ग एम टी एस,एन एम एम एस, एन टी एस</li>
                    <li>प्रदूषण विरहीत, शैक्षणिक वातावरण,प्रशस्त व हवेशीर वर्ग खोल्या </li>
                    <li>सर्व शिक्षा अभियानातून सर्व विद्यार्थिनींना मोफत पठ्य पुस्तके </li>
                    <li>चित्रकला इंटरमिजीएट, एलेमेंटरी या पारिक्षाचे मार्गदर्शन</li>
                    <li>वर्षातून दोन वेळा शिक्षकांची खास पालक भेट</li>
                    <li>आधुनिक सुसज्ज इंटरनेट संगणक लॅब, पालक शिक्षक संघ व माता पालक संघ, आधुनिक खेळांचे तंत्रशुद्ध प्रशिक्षण</li>
                    <li>विद्यार्थिनींना बचतीची सवय लागावी तसेच बँकिंग व्यवहारची माहिती व्हावी याकरिता विद्यार्थिनी संचायिका</li>
                    <li>विद्यार्थिनींच्या संरक्षणाची खास व्यवस्था</li>
                    <li>इ. ५ वी ते 10 वी पर्यन्त सेमी इंग्रजी सोय. </li>
                    <li>विद्यार्थिनी हस्तलिखित</li>
                    <li>अनुभवी, तज्ञ अध्यापक वर्ग</li>
                    <li>सुसज्ज प्रयोगशाळा </li>
                    <li>ग्रंथालय</li>
                    <li>नोंदनिकृत सहकारी ग्राहक भंडार</li>
                    <li>उन्हाळी क्रीडा प्रशिक्षण शिबिरे</li>
                    <li>वेटलिफ्टिंगची सुसज्ज रूम</li>
                    <li>राष्ट्रीय हमरस्ता ओलांडताना विद्यार्थिनींना सहाय्य</li>
                    <li>स्काउट गाईड राज्यस्तरीय पुरस्कारासाठी मार्गदर्शन</li>
                    <li>पर्यावरण रक्षणासाठी प्रत्येक बुधवारी नो व्हेहिकल डे. </li>
                    <li>सुप्त कलागुण विकासासाठी संस्कृतिक कार्यक्रम</li>
                    <li>आर. एस. पी. / एम. सी. सी. / स्काऊट गाईड पथके</li>
                    <li>संगीत शिक्षणाची सोय</li>
                    <li>सामूहिक गायन स्पर्धा </li>
                    <li>अल्पसंख्यांक विद्यार्थिनींनसाठी शिष्यवृत्ती योजना,</li>
                    <li>नैदानिक चाचण्या व उपचारात्मक कार्यक्रम</li>
                    <li>प्रत्येक वर्गात मर्यादित विद्यार्थिनी संख्या</li>
                    <li>स्पर्धा परीक्षा विशेष मार्गदर्शन</li>
                    <li>शालेय पोषण आहार योजना</li>
                    <li>सर्व विषयांच्या बाह्य परीक्षा. </li>
                    <li>प्रत्येक वर्षी नावीन्यपूर्ण उत्कृष्ट ठिकाणी शैक्षणिक सहलीचे आयोजन. </li>
                    <li>डिजिटल क्लासरूम सुविधा. </li>

                </ul>
            </div>

        </div>
        <div class="row ">
            <div>
                <div class="col title-para"><strong>शाळेची गुणवत्ता विकास</strong> </div>

                <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                    <p class="text-justify">
                        माध्यमिक विद्यालयाची गुणवत्ता उंचावण्यासाठी आणि शैक्षणिक प्रक्रिया गतिमान करण्यासाठी गुणवत्तेला जास्त प्राधान्य दिले आहे. शाळा गुणवत्ता विकासामध्ये पुढील घटकांचा समावेश होतो.
                    </p>
                    <ol>
                        <li>शिक्षकास विद्यार्थ्याची सामाजिक व आर्थिक पार्श्वभूमी याची जाणीव असणे.</li>
                        <li>शिक्षकास विषय ज्ञान व अध्यापन कौशल्याची माहिती असणे.</li>
                        <li>वर्ग व्यवस्थापन वातावरण निर्मिती अध्यापन नियोजन इ.</li>
                        <li>विद्यार्थ्याचे मूल्यमापन करणेसाठी शिक्षकांकडे ज्ञान असणे गरजेचे आहे.</li>
                        <li>वरील सर्व घटकांचा विचार करता विद्यार्थ्यांच्या शिक्षणाच्या मुख्यप्रवाहात आणणे त्याची शैक्षणिक आणि सर्वांगीण प्रगति करणे या करिता 
                        संस्था विद्यार्थी पालक शिक्षक आणि समाज यांचा शैक्षणिक प्रक्रियेत सहभाग असणे फार महत्वाचे आहे.</li>
                    </ol>

                </div>


            </div>
        </div>
    </div>
</div>


