
@{
    ViewBag.Title = "मुख्याध्यापक कक्ष";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


        <div class="container padding-top-15 padding-bottom-15">
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="principal-photo">
                        <img width="340" src="~/img/img_pricipal.png" />
                    </div>
                    <div class="principal-name">
                        सौ. भिसे सुलोचना विष्णू
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td>	 </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td><a href="mailto:क@gmail.com">email@gmail.com</a> </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> <a href="tel:9403464398">९४०३४६४३९८</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="para-title">मुख्याध्यापकांचा संदेश </div>
                    <p class="para-text">
                        चिकाटी, सचोटी, ध्येय, नम्रता,निर्णय क्षमता,निर्भयता आणि आशावाद अशा अनेक गुणांचे वैशिष्ट्यपूर्ण संघटन म्हणजे व्यक्तिमत्व.
                        सध्याचे जग तीव्र स्पर्धेचे आहे. या स्पर्धेचा युगामध्ये शिक्षण अत्यंत महत्वाचे आहे. मुलींचे शिक्षण म्हणजे प्रगतीचे लक्षण.
                        तेव्हा मुलींचा सर्वांगीण व्यक्तिमत्वाचे बहुरंगी घटक प्रकट करण्याची संधी या उपक्रमशील शाळेमध्ये उपलब्ध करून दिली जाते.
                        मुलींचा शाळेमध्येच मुली मोकळेप्रमाणे वावरू शकतात असा आमचा अनेक वर्षाचा अनुभव आहे.
                        केवळ या मुळेच या शाळेतील अनेक विद्यार्थिनी वेगवेगळ्या क्षेत्रात उच्च पदावर चमकत आहेत. आपल्या कर्तुत्वाने हे सध्य केले आहे.
                    </p>
                    <p class="para-text">
                        आमचे विद्यालयामध्ये दर्जेदार व गुणवत्तापूर्ण शिक्षण दिले जाते. प्रे. च. विद्यालय हे एक आदर्श शैक्षणिक संकुल आहे.
                    </p>

                </div>


            </div>

        </div>

    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

