
@{
    ViewBag.Title = "उपक्रम";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12 ">

                <p class="text-justify">
                    <strong> वार्षिक स्नेहसंम्मेलन </strong>
                    <br />प्रत्येक विद्यार्थ्यामधील सुप्त गुणांना संधी मिळणे आवश्यक असते. विद्यार्थ्यांची अंगभूत कौशल्ये विकसित करण्याच्या दृष्टीने विद्यार्थ्यांकडून विविध कलाविष्कार सादर केले जातात. या हेतूने विद्यालयामध्ये विविध गुंदर्शनाचा कार्यक्रम “कलाविष्कार” आयोजित करण्यात येतो.
                    <br />प्रमुख पाहुण्यांच्या हस्ते स्टेज उद्धघाटन दीपप्रज्वलन करण्यात आले. भव्य स्टेज उपस्थित प्रेक्षक वर्ग, झगमगाट करणारी रोषणाई अशा वातावरणामध्ये “देवा ओ देवा” या गीताने कार्यक्रमाची सुरवात केली
                    <br />कार्यक्रमामध्ये भक्तीगीत, देशभक्तीपर गीत कोळीगीत बालगीत नाटिका शेतकरी गीत असे विविध कलाविष्कार सदर करण्यात आले.
                </p>
                <p class="text-justify">
                    <strong> बालिकादिन / पाककला स्पर्धा</strong>


                    <br /> आद्यशिक्षिका सावित्रीबाई फुले यांची जयंती विद्यालयामध्ये बालकादिन म्हणून मोठ्या उत्साहात साजरी केली जाते.
                    या निमित्त विद्यालयामध्ये वकृत्व स्पर्धा आयोजित करण्यात आल्या. त्याचबरोबर शाळा–शिक्षक-पालक-विद्यार्थी या साखळीतील अखंडता टिकवण्यासाठी पालक सभा व
                    प्रतिसाद जपण्यासाठी महिला पालकांसाठी पाककला स्पर्धा भरविण्यात आल्या.
                    फनी गेम्स आयोजित करण्यात आल्या तसेच महिला पालकांसाठी भाषण स्पर्धा घेऊन महिला पालकांना व्यासपीठ देण्याचे कामही करण्यात आले.
                    <br />
                    <br />
                    <br />
                </p>
                
            </div>
                    <div class="col title-para ">
                        <strong>
                            दिनविशेष /जयंती व पुण्यतिथी:
                        </strong>
                        आपल्या देशाला थोर पुरुषांची मोठी परंपरा आहे.
                        ज्या थोर व्यक्तींचे राष्ट्राच्या जडण घडणीत मोलाचे योगदान आहे अशा व्यक्तीच्या जीवन कार्याचा परिचय आपल्या नव्या पिढीला व्हावा
                        आणि त्यापासून काही चांगले शिकण्याची प्रेरणा मिळावी या हेतूने शाळेत विविध प्रकारचे दिनविशेष, थोर पुरुषांची जयंती,
                        पुण्यतिथी या निमित्ताने विविध कार्यक्रमांचे आयोजन आम्ही करीत असतो यावर्षी आयोजिलेल्या कराक्रमानुसार तपशील असा.
                        <br /><br />
                    </div>



                   
                    <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12 ">

                <p class="text-justify"><strong>नवांगत स्वागत समारंभ:</strong> आपल्या भारतीय संकृती मध्ये आलेल्यांचे स्वागत, जणार्‍यांचे निरोप दिला जातो. याप्रमाणे सन २०१८-१९  या शैक्षणिक वर्षामध्ये नवीन प्रवेश घेणार्‍या विद्यार्थ्यांचा स्वागत समारंभ म्हणजेच नवांगत स्वागत समारंभ या दिवशी नवीन प्रवेश घेणार्‍यांना भेटवस्तू देवून स्वागत केले जाते. भावी आयुष्यच्या वाटचालीस, शिक्षणास शुभेछा दिल्या जातात.</p>
                <p class="text-justify"><strong>दि.१९ जून मळाईदेवी वर्धापन दिन:</strong> संस्था उभारणीसाठी ज्यांनी मोलाचे कार्य केले त्यांच्याविषयी माहिती होण्यासाठी हा कार्यक्रम घेण्यातआला. तसेच दुपारी ३ वा. माझी शाळा या विषयावरती वक्तृत्व स्पर्धा घेण्यात आल्या.</p>
                <p class="text-justify"><strong>दि.२७ जून राजर्षि शाहू महाराज जयंती :</strong> सामाजिक विषमता दूर करून समाजातील दुर्बल घटकांना न्याय मिळवून देणारे थोर समाजसेवक यांची जयंती साजरी करण्यात आली.</p>
                <p class="text-justify"><strong>दिंडी सोहळा :</strong>आषाढी वारीतील हरिनाम गाजर खांद्यावर भगवी पताका गळ्यात तुळशीची माळ आणि डोईवर तुळशी वृंदावन, विठ्ठल-रकुमाई अशा प्रकारचा दिंडी सोहळा विद्यालयामध्ये उत्साहामध्ये पार पडला ही दिंडी पाहणार्‍यांच्या मनात भक्तीभाव निर्माण करत होती आणि उपस्थितांची वाहवा मिळवत होती.</p>
                <p class="text-justify"><strong>गुरुपोर्णिमा:</strong>  श्री दत्तगुरूंच्या प्रतिमेचे पूजन करून सर्व वर्गात गुरुपोर्णिमा व गुरूंचे जीवनातील महत्व याबद्दल माहिती सांगितली. </p>
                <p class="text-justify"><strong>वृक्षारोपण:</strong> इ. ३ री ते इ. ७ वी पर्यंतच्या विद्यार्थ्यांनी आगाशिव डोंगर परिसरात वृक्षारोपण केले.</p>
                <p class="text-justify"><strong>दि. १ ऑगस्ट लोकमान्य टिळक पुण्यतिथी:</strong>  स्वराज्य हा माझा जन्मसिद्ध हक्क आहे व तो मी मिळवणारच अशी सिंहगर्जना करणारे थोर लोकमान्य टिळक यांची पुण्यतिथी शाळेमध्ये साजरी करण्यात येते.</p>
                <p class="text-justify"><strong>रक्षाबंधन :</strong> भाऊ बहिणीच्या पवित्र नात्याला एका रेशमी धाग्यात बांधणारा सण म्हणजे रक्षाबंधन. या पवित्र प्रेमाची माहिती शाळेतील मुला-मुलींना व्हावी म्हणून या कार्यक्रमाचे आयोजन केले जाते.</p>
                <p class="text-justify"><strong>गोपाळकाला:</strong> वंदनीय श्रीकृष्णाची जयंती विद्यालयात साजरी करण्यात येते. प्रथम श्री कृष्णाच्या कथा सांगण्यात येतात. त्यानंतर शाळेच्या प्रांगणात उंचवरती दहीहंडी बांधण्यात येते. दहीहंडी फोडण्यासाठी प्रत्येक वर्ग उत्सुक होता. प्रत्येकाला संधी देण्यात येते  पालक वर्गाची उपस्थिती प्रचंड असते. गोविंदा आला रे आला च्या जल्लोषावर सर्वजण मुलांनी प्रेरित करीत. आनंददायी वातावरणामध्ये दहीहंडी फोडली जाते.</p>
                <p class="text-justify"><strong>गणेश उत्सव:</strong> शाळेत गणपतीची सुबक मूर्ति आणून विधिवत प्रतिष्ठापना केली. दररोज सकाळी, संध्याकाळी पुजा करुन आरतीचा कार्यक्रम केला. यासाठी विद्यार्थ्यांनी कैलास पर्वत हा देखावा तयार केला. यानिमित्ताने फनी गेम्स, हळदी-कुंकूसमारंभ, रांगोळी स्पर्धा, अथर्वशीर्ष व आरती पाठांतर स्पर्धा घेण्यात आल्या. “गणपती बाप्पा मोरया, पुढच्या वर्षी लवकर या” च्या गजरात चिमुकल्यांनी लाडक्या गणरायला निरोप दिला.</p>
                <p class="text-justify"><strong>दि.२ अक्टोबर महात्मा गांधी जयंती व लालबहादूर शास्त्री जयंती:</strong>  म. गांधी व लालबहादूर शास्त्री यांच्या कार्याची माहिती देवून समारभपूर्वक कार्यक्रम साजरा केला जातो. यादीवशी श्रमदान शिबिराचे आयोजन केले जाते.</p>
                <p class="text-justify"><strong>दि.८ अक्टोबर चैतन्य महाराज पुण्यतिथी :</strong> श्री मळाईदेवी शिक्षण संस्थेचे संस्थापक चैतन्य महाराजांची पुण्यतिथी साजरी करण्यात येते.</p>
                <p class="text-justify"><strong>दि.१३ अक्टोबर डॉ. ए. पी. जे. अब्दुल कलाम जयंती:</strong> वैज्ञानिक संशोधन शिक्षक आणि भारताचे राष्ट्रपती तसेच एक थोर भारतीय यांची जयंती साजरी करण्यात येते.</p>
                <p class="text-justify"><strong>दि.७ नोव्हेंबर विद्यार्थी दिन:</strong> भारतरत्न डॉ. बाबासाहेब आंबेडकर यांच्या शाळा प्रवेशाचा ७ नोव्हेंबर हा  दिवस राज्यातील शाळा व महाविद्यालयामध्ये विद्यार्थी दिवस म्हणून साजरा करण्यात येतो.  यादिवशी विविध कार्यक्रमांचे आयोजन केले जाते. वाचन, प्रश्नमंजुषा, काव्यवाचन घेण्यात येते.</p>
                <p class="text-justify"><strong>दि.१४ नोव्हेंबर बालदिन:</strong> पंडित नेहरू बद्दल मुलांना माहिती सांगण्यात येते व चाचा नेहरूंच्या गोष्टी मुलांना सांगण्यात येतात.</p>
                <p class="text-justify"><strong>दि. २५ नोव्हेंबर  स्व. यशवंतराव चव्हाण स्मृतीदिन:</strong> “हिमालयचा येता घाला सह्याद्री हा धावून गेला” या उक्तीप्रमाणे काम करणारे स्व यशवंतराव चव्हाण यांच्या कार्याची ओळख यादीवशी विद्यार्थ्यांना करून देण्यात येते.</p>
                <p class="text-justify"><strong>पुष्परचना प्रदर्शन:</strong> पुष्प म्हणजे फूल आणि या फुलांची केलेली नावीन्यपूर्ण व आकर्षण रचना म्हणजेच पुष्परचना होय विद्यार्थी विविध फुले व त्यांचे रंग समजावे शिवाय त्यांच्या कल्पनाशक्तिस चालना मिळावी यासाठी पुष्परचना प्रदर्शन भरवण्यात आले </p>
                <p class="text-justify"><strong>दि. ६ डिसेंबर डॉ. बाबासाहेब आंबेडकर महानिर्वाण दिन:</strong>  डॉ. बाबासाहेब आंबेडकर यांच्या जीवनकार्याची ओळख शिक्षकांनी विद्यार्थ्यांना करून दिली जाते व विद्यार्थ्यांनी डॉ बाबासाहेब आंबेडकर यांच्या बद्दल आपले विचार व्यक्त करण्यासाठी संधी दिली जाते.</p>
                <p class="text-justify"><strong>दि.१२ जानेवारी स्वामी विवेकानंद जयंती:</strong> स्वामी विवेकानंदयांच्या कार्याविषयी शिक्षकांनी विद्यार्थ्यांना माहिती सांगितली जाते व युवक दिन साजरा करण्यात जातो</p>
                <p class="text-justify"><strong>मकरसंक्रांत :</strong> संक्रांत या सणाची माहिती देऊन वर्गात तिळगूळ देण्यात आले.   मकरसंक्रांत व नववर्षनिमित्त विद्यार्थ्यांनी तयार केलेली शुभेच्छा भेटकार्ड सर्व संस्था प्रतींनिधी पालक हितचिंतक यांना देण्यात आली. हळदी कुंकू समारंभ आयोजित करण्यात आला.</p>
                <p class="text-justify"><strong>दि.२४ जानेवारी नेताजी सुभाषचंद्र बोस:</strong> भारतीय सैनिकांच्या मनात देशप्रेमाची ज्योत पेटवणारे नेताजी सुभाषचंद्र बोस यांची जयंती मोठ्या उत्साहात साजरी केली जाते.</p>
                <p class="text-justify"><strong>दि.१९ फेब्रुवारी शिवजयंती:</strong>  मानवी सद्गुनांचे तेजस्वी प्रतीक असलेले छत्रपती शिवाजी महाराजांची जयंती विद्यालयामध्ये मोठ्या उत्साहात साजरी करण्यात येते. शिक्षक व काही विद्यार्थ्यांनी शिवरायांचे जीवानकार्य विद्यार्थ्यांसमोर ठेवले. शिवजयंती निमित्त शिवराज्याभिषेक, गड आला पण सिंह गेला, स्वराज्य स्थापनेची शपथ या नाटिका विद्यार्थ्यांनी सदर करतात.</p>
                <p class="text-justify"><strong>होळी:</strong> कचरा पापपाचोळा गोळा करून त्यांची होळी केली म्हणजेच चांगल्यास साथ व वाईटाचा नाश हे विद्यार्थ्यांना संगितले. वनाचे महत्व विद्यार्थ्यांना पटवून देवून पर्यावरण रक्षणचा संदेश देण्यात आला. होळीची कथा करण्यात आली.</p>
                <p class="text-justify"><strong>दि. १२ मार्च यशवंतराव चव्हाण जयंती:</strong> महाराष्ट्राचे शिल्पकार यशवंतराव चव्हाण यांची जयंती विद्यालयामध्ये साजरी करण्यात येते.</p>
                <p class="text-justify"><strong>गुढीपाडवा:</strong> साडेतीन मुहूर्तापैकी एक मुहूर्त म्हणजेच गुढीपाडवा त्यानिमित्त विद्यालयामध्ये सरस्वतिपूजन, पाटीपूजन आयोजित करण्यात येते. आयुष्य म्हणजे कडू गोड आठवणीचा संगम याचे प्रतीक म्हणजेच कडूलिंब व गूळ खातात याची माहिती विद्यार्थ्यांना करून दिली जाते. विद्यार्थ्यांचा पाटिपूजनाचा कार्यक्रम घेण्यात येतो.</p>
                <p class="text-justify"><strong>दि.१४ एप्रिल डॉ बाबासाहेब आंबेडकर जयंती:</strong> भारतीय घटनेचे शिल्पकार डॉ बाबासाहेब आंबेडकर यांची जयंती साजरी करण्यात येते.</p>
                <p class="text-justify"><strong>दि. १ मे महाराष्ट्र दिन:</strong> महाराष्ट्र राज्याची निर्मिती १ मे १९६० रोजी झाली तो दिवस म्हणजेच महाराष्ट्र दिन व कामगार दिन. या दिवशी विद्यालयामध्ये विद्यार्थी व पालकांच्या हस्ते ध्वजारोहन करण्यात येते.</p>

            </div>



        </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>




