@{
    ViewBag.Title = "मुखपृष्ठ";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@Html.Partial("_LayoutWebsite\\_slider")
<!--BODY START-->
<div class="container-bg">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="info-title">
                    शाळेबद्दल थोडेसे
                </div>
                <p class="text-justify">
                    विद्यार्थ्यांचा सर्वांगीण विकास साधायचा तर मुलांसाठी नावीन्यपूर्ण असे उपक्रम शाळेतून राबविणे गरजेचे आहे.
                    अशा उपक्रमातून संधी मिळते आणि त्यातूनच नवकल्पनांना धुमारे फुटतात निर्मितीच्या आनंदात मुले न्हावून निघतात.
                    सृजनाचा आनंद! निर्मितीचा आनंद!
                </p>
                <p class="text-justify">
                    या आनंदाच्या उदात्त स्वप्नांची काही वर्षापूर्वीच सुरवात झाली.
                    प्रखर इच्छाशक्ती, शिक्षकांची मोलाची साथ, प्रभावी मार्गदर्शन आणि नियोजनबद्ध प्रयत्न या सार्‍याच्या बळावर हा प्रवास एका योग्य दिशेने होताना दिसत आहे.

                </p>
                <p class="para-text">
                    श्री. मळाईदेवी शिक्षण संस्थेने दर्जेदार प्राथमिक शिक्षणाची हेळसांड होऊ नये म्हणून आदर्श प्राथमिक विद्यालयची स्थापना केली.
                    या शाळेच्या अंकुराचा वटवृक्ष होईपर्यंत विकासाच्या वाटचालीत व प्रगतीत संस्थेचा सिंहाचा वाटा आहे.
                </p>
                <p class="para-text">
                    विद्यार्थ्याचा सर्वांगीण विकास होण्याच्या दृष्टीने सकस-आनंददायी-सृजनशील शिक्षणाचा पाया आदर्श प्राथमिक विद्यालयाच्या आरंभाने “श्री मळाईदेवी शिक्षण संस्थेने घातला. मुलांना शिकते करण्याचे अनेक प्रयत्न विद्यालयाने पालक सहभागाच्या बळावर सुरू ठेवले आहेत.


                </p>
            </div>
            <div class="col-12 col-md-4">
                <div class="info-img">
                    <img src="\img\capw300x260h.PNG">
                </div>
            </div>
            <div class="col-12 col-md-12">

                <p class="para-text">
                    विद्यालय ही एक सामाजिक संस्था आहे हे मनाशी बाळगून काही मार्गदर्शक तत्वे काटेकोरपणे पाळाली जातात. स्वतंत्र सृजनशील नागरिक घडण्यासाठी मुलांनी सारासर विचार करावयास शिकावे स्वावलंबी व्हावे, त्यांच्यात निर्णय क्षमता निर्माण व्हावी, सर्वांबरोबर काम करण्याची वृत्ती तयार व्हावी, मुले आरोग्य संपन्न व्हावीत. इथल्या मातीचा त्यांना लळा लागावा अशाही काही बाबी मनाशी धरून आम्ही प्रयत्न करत असतो. अभ्यासक्रम शिकता शिकता वर्षभर विद्यालयात विविध उपक्रम आखले जातात ते याच हेतूने.


                </p>
                <p class="para-text">
                    समृद्ध व्यक्तिमत्वासाठी वाचनाने महत्व वादातीत आहे. ग्रंथाशी मैत्री केल्याने विचार प्रगल्भ होतात. चिंतन, मनांनाची सवय लागते आणि मुख्य म्हणजे उच्च प्रतीचा आनंद मिळतो. ग्रंथमैत्री जडली की सव्यंग करमणुकीकडे मन वळणारच नाही. तेव्हा ज्ञानी बना, तुम्हा सर्वांना अनेक आशिर्वाद.

                </p>
                <p class="text-justify">
                    कृषीप्रेम जागृत करण्यासाठी चला बांधावरच्या शाळेला, बालबजार, विज्ञान प्रदर्शन, स्नेह संमेलन असे कितीतरी उपक्रम शाळेला प्रेरणा देण्याचे काम करीत आहेत.
                </p>
                <p class="text-justify">
                    विद्यालयातून शिक्षण घेणारे चांगल्या पदावरती काम करीत आहेत. मातृदायी शाळेने आजही विद्यार्थ्याच्या मनात धृवासारखे अढळस्थान मिळवले आहे.
                    पाश्चिमात्यांची जीवनशैली स्वीकारताना मानावी जीवन मूल्यांची साखळी कुठेतरी खंडित होते आहे.
                </p>
                <p class="text-justify">
                    पालकहो, तुमचे मूल एक स्वतंत्र व्यक्तिमत्व आहे हे थोडे कठोर वाटणारे सत्य स्वीकारा स्वतसाठी जगा, कुटुंबासाठी,जागा राष्ट्रासाठी जगा. अशा जगण्यातून मुले सुसंस्कारित होतील पुढच्याला हात देताना मगच्याचा हात सोडणार नाहीत. अशी मुले घडवण्यासाठीच झाली या संस्कार केंद्राची निर्मिती धन्यवाद!

                </p>

                <a href="/about/objective" class="btn btn-danger">पुढे वाचा</a>
            </div>
        </div>
    </div>




    <div class="full-widht sec-bg">
        <div class="container full-widht padding-10">
            <div class="row">
                <div class="col-12 col-md-12 sec-bg">
                    <div class="sec-bg">  <img src="~/img/Ashokrao_Kisan_Thorat.png" />               </div>
                    <div class="sec-title">   संस्थेचे आधारस्तंभ  आणि  आमचे मार्गदर्शक              </div>
                    <div class="sec-name">    संस्थेचे सचिव मा. श्री. अशोकराव किसन थोरात              </div>

                    <p class="text-justify">

                        <strong>श्री मळाईदेवीच्या कृपेने,</strong> <br /><br />
                        &nbsp;&nbsp;&nbsp;&nbsp; श्री मळाईदेवी शिक्षण संस्थेची स्थापना जून १९७२ रोजी परमपूज्य ब्रम्हिभूत गंगाधर वासुदेव चैतन्य महाराज यांच्या अध्यक्षतेखाली झाली.
                        समाजातील गरीब, कष्टकरी, शेतकरी, मागासवर्गीय, मध्यमवर्गीय यांच्या मुलामुलींचे दर्जेदार शिक्षण बालवाडीपासून महाविद्यालयापर्यंत झाले पाहिजे.
                        या उदात्त हेतूने स्थापना झाली. अल्पावधीतच संस्थेने पहिले माध्यमिक विद्यालय मलकापूर येथे सुरू केले व पुढे
                        आगाशिवनगर, पोतले, कासारशिरंबे, बालवाडी ते उच्च माध्यमिक अशी अनेक शाळा, महाविद्यालये स्थापन केली.
                    </p>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;गुणवंत विद्यार्थी घडवत असताना शिक्षक ,कर्मचारी, विद्यार्थी, पालक, समाज, शासन यांचे उत्तम सहकार्य लाभले.
                        संस्थेने समाजातील दानशूर व्यक्तींच्या व माजी विद्यार्थ्यांच्या सहकार्याने व स्वनिधीतून प्रत्येक शाळेसाठी जागा खरेदी करून भव्य इमारती बांधल्या.
                        शिक्षक व्यवस्थेमध्ये जागतिकीकरण व प्रगत विज्ञान तंत्रज्ञान याचे आव्हान स्वीकारून शिक्षकांचे प्रशिक्षण करून संगणक
                        व इतर वैज्ञानिक प्रणालीचा शिक्षणात वापर केला.
                        प्रचंड वेगाने बदलणारे, झपाट्याने पुढे चाललेले प्रगत जग, वाढणारी लोकसंख्या व बदलणारे त्रासदायक हवामान याशिवाय राहणीमान व
                        बदलणारे मानवी सांस्कृतिक निकष अशा सर्व आव्हानांना सहज पेलू शकतील असे विद्यार्थी घडवण्यासाठी
                        श्री मळाईदेवी शिक्षण संस्था सातत्याने कार्यरत आहे.
                    </p>
                    <p class="text-justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;संस्थेचे संस्थापक व विद्यमान सदस्य, सभासद , आजी-माजी शिक्षक शिक्षिका, विद्यार्थी, पालक, शिक्षणप्रेमी, कार्यकर्ते, नेते, राजकीय, पदाधिकारी, सामाजिक कार्यकर्ते,
                        शासकीय अधिकारी, स्थानिक स्वराज्य संस्थेचे अधिकारी, पदाधिकारी सर्वांना विनंती करतो की शिक्षण हे पवित्र क्षेत्र आहे
                        व त्याच भावनेने आपण सर्वांनी आपले मतभेद विसरून एकत्र कार्य केले पाहिजे.
                        आपल्या समाजातील भावी पिढ्या आपल्या कर्तृत्वपूर्तीकडे डोळे लावून बसल्या आहेत याची जान ठेवून शिक्षण देण्यासाठी एकत्र येवून संघटित
                        होवूया. व तनमनधन अपूर्ण कर्तव्य करत राहूया. भविष्यकाळ उज्वल आहे.
                        नव्या आशेने सातत्याने कार्यरत राहूया.

                    </p>

                    <p class="" style="text-align:right">
                        धन्यवाद!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br />
                        श्री. अशोकराव किसन थोरात&nbsp;&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div> <!-- sec-bg end -->

    <div class="full-widht">
        <div class="container full-widht">
            <div class="row">
                <div class="col-12 col-md-12 ">
                    @Html.Partial("_nofitications")
                </div>
            </div>
        </div>
    </div>
    <script>
        function onload() {
            $('[data-toggle="lightbox"]').on("click", function (event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

            // $('#feedbackCarousel').bsTouchSlider();
        }
    </script>
