
@{
    ViewBag.Title = "शाळा";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<!--BODY START-->
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">मुखपृष्ठ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">शाळा</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="full-widht-pagetitle">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pagetitle">
                    शाळा
                </div>
                @*<div class="pagesubtitle">
                        Sub title goes here Sub title goes here
                    </div>*@
                <div class="titleimg">
                    <img src="/img/titleshape.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container">
        <div class="row">
            <table  class="table">
                <thead>
                    <tr>
                        <td class="font-weight-bold">अ.न.</td>
                        <td class="font-weight-bold">स्थापना </td>
                        <td class="font-weight-bold">शाळेचे नाव</td>
                        <td class="font-weight-bold">संकेतस्थळ </td>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>१.</td><td>१९८१</td> <td> ना. आ. च. विद्यालय, मलकापूर </td> <td> <a href="http://www.acvmalkapur.edu.in" target="_blank">acvmalkapur.edu.in </a></td></tr>
                    <tr><td>२.</td><td>१९८३</td> <td> ना. आ. च. विद्यालय, पोतले </td> <td> <a href="http://www.acvpotale.edu.in " target="_blank">acvpotale.edu.in  </a></td></tr>
                    <tr><td>३.</td><td>१९८४</td> <td> श्रीमाती प्रे. च. कन्याशाळा मलकापूर </td> <td> <a href="http://www.pckmalkapur.edu.in" target="_blank">pckmalkapur.edu.in </a></td></tr>
                    <tr><td>४.</td><td>१९९७</td> <td> आदर्श प्राथमिक विद्यालय, मलकापूर </td> <td> <a href="http://www.adarshpvmalkapur.edu.in" target="_blank">adarshpvmalkapur.edu.in </a></td></tr>
                    <tr><td>५.</td><td>१९९७</td> <td> आदर्श शिशु विहार, मलकापूर </td> <td> <a href="http://www.adarshshishumalkapur.edu.in" target="_blank">adarshshishumalkapur.edu.in </a></td></tr>
                    <tr><td>६.</td><td>१९९८</td> <td> न्यू इंग्लिश स्कुल, कासारशिरंबे -  <td> <a href="http://www.neskasarshirambe.edu.in" target="_blank">neskasarshirambe.edu.in </a></td></tr>
                    <tr><td>७.</td><td>२०००</td> <td> आदर्श ज्युनियर कॉलेज, मलकापूर </td> <td> <a href="http://www.adarshjrcollegemalkapur.edu.in " target="_blank">adarshjrcollegemalkapur.edu.in  </a></td></tr>
                    <tr><td>८.</td><td>२००३</td> <td> आदर्श प्राथमिक विद्यालय, अगाशिवनगर </td> <td> <a href="http://www.adarshpvagashivnagar.edu.in" target="_blank">adarshpvagashivnagar.edu.in </a></td></tr>
                    <tr><td>९.</td><td>२००३</td> <td> आदर्श शिशु विहार, अगाशिवनगर </td> <td> <a href="http://www.adarshshishuagashivnagar.edu.in" target="_blank">adarshshishuagashivnagar.edu.in </a></td></tr>
                    <tr><td>10.</td><td>2004</td> <td> Star English Medium School and Jr. Collage Malkapur </td> <td> <a href="http://www.semsmalkapur.edu.in" target="_blank">semsmalkapur.edu.in </a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>