
@{
    ViewBag.Title = "यशस्वी विद्यार्थी";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


        <div class="container container-bg padding-bottom-15 padding-top-15">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table">
                        <thead>

                            <tr><th colspan=2>जिल्हा स्तरीय सबज्युनिअर क्रीडा स्पर्धा कराड.</th></tr>


                        </thead>
                        <tbody>
                            @*<tr><td>विद्यार्थ्याचे नाव</td><td> स्पर्धा </td></tr>*@
                            <tr><td>श्रावणी गरुड  </td><td>प्रथम क्रमांक १०० मी.,  ६० मी.</td></tr>
                            <tr><td>समिक्षा कदम </td><td>प्रथम क्रमांक गोळा फेक</td></tr>
                            <tr><td>साई शेलार </td><td>प्रथम क्रमांक गोळा फेक</td></tr>
                            <tr><td>प्राजक्ता पाटील </td><td>प्रथम क्रमांक उंच उडी</td></tr>
                            <tr><td>अनुष्का पाटील </td><td>द्वितीय क्रमांक  लांब उडी</td></tr>
                            <tr><td>मानसी बोर्‍हाडे </td><td>द्वितीय क्रमांक  गोळा फेक</td></tr>
                            <tr><td>शर्वरी  सावंत </td><td>द्वितीय क्रमांक  उंच उडी</td></tr>
                            <tr><td>श्रावणी भिसे </td><td>तृतीय क्रमांक १०० मी. </td></tr>
                            <tr><td>समर्थ शेलार </td><td>तृतीय क्रमांक १०० मी., ६० मी.</td></tr>
                            <tr><td>प्राची भिसे </td><td>तृतीय क्रमांक उंच उडी</td></tr>
                            <tr><td>साहिल देसाई </td><td>तृतीय क्रमांक १०० मी.</td></tr>
                        </tbody>
                    </table>
                   

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table">
                        <thead>

                            <tr><th colspan=2>राज्यस्तरीय क्रीडा स्पर्धा मुंबई</th></tr>


                        </thead>
                        <tbody>
                            @*<tr><td>विद्यार्थ्याचे नाव</td><td> स्पर्धा </td></tr>*@
                            

                            <tr><td>श्रावणी गरुड </td><td>  तृतीय क्रमांक  १०० मी., ६० मी.</td></tr>
                            <tr><td>साई शेलार </td><td>तृतीय क्रमांक गोळा फेक</td></tr>
                            <tr><td>मानसी बोर्‍हाडे </td><td>चतुर्थ क्रमांक गोळा फेक</td></tr>
                            <tr><td>समिक्षा कदम </td><td>पाचवा क्रमांक गोळा फेक</td></tr>
                            <tr><td>प्राची भिसे </td><td>सातवा क्रमांक उंच उडी</td></tr>
                            <tr><td>प्राजक्ता पाटील </td><td>आठवा क्रमांक उंच उडी</td></tr>
                        </tbody>
                    </table>
                   

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

