
@{
    ViewBag.Title = "यशस्वी विद्यार्थी";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


        <div class="container container-bg padding-bottom-15 padding-top-15">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table">
                        <thead>
                            <tr><th colspan=2>औरंगाबाद येथे झालेली राज्य सुबजुनिअर अॅथलेटिक्स अजिक्यपद स्पर्धा </th></tr>
                        </thead>
                        <tbody>
                            <tr><td>कु. श्रद्धा जयवंत शिर्के</td><td>६ वर्ष वयोगट लांब उडी प्रथम, ५० मी. धावणे – तृतीय</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table">
                        <thead>
                            <tr><th colspan=2>सुबज्युनिअर स्पर्धा</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>जय पांडुरंग मंडले </td><td>प्रथम ६० मी. धावणे</td></tr>
                            <tr><td>सोहम सतीश खिलारे</td><td>तृतीय ४० मी. धावणे</td></tr>
                            <tr><td>श्रुति प्रमोद कारंडे </td><td>प्रथम</td></tr>
                            <tr><td>राजवीर प्रविण पाटोळे</td><td>तृतीय</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table">
                        <thead>
                            <tr><th colspan=2>राज्यस्तरीय स्पर्धा </th></tr>
                        </thead>
                        <tbody>
                            <tr><td>वरदराज जयवंत काळे 	</td><td>प्रथम</td></tr>
                         

                        </tbody>
                    </table>
                </div>

               

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

