
@{
    ViewBag.Title = "उपक्रम";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
<div class="full-widht container-bg">
    <div class="container">
        <div class="row">
            <h5 class="page-header-title col-md-12"><strong>उपक्रम</strong></h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>

</div>

<div class="">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>विद्यालयात राबवले जाणारे अभ्यासपूरक उपक्रम व सहशालेय उपक्रम</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                
                <ul>


                    <li>
                        पाठांतर, वाचन, व वक्तृत्व स्पर्धा - श्रवणात्मक
                    </li>
                    <li>
                        शैक्षणिक परिसर निरीक्षण सहल
                    </li>
                    <li>
                        शैक्षणिक प्रदर्शन, स्वयंशासन, वर्गसुशोभन स्पर्धा - निरीक्षणात्मक
                    </li>
                    <li>
                        कार्यानुभव वस्तूंचे प्रदर्शन, तक्ते - रचनात्मक
                    </li>
                    <li>
                        चित्रे, तिकिटे, पिसे, विविध वस्तूंचे नमुने, हस्तलिखित, पाने, दगड  - संग्रहात्मक
                    </li>
                    <li>
                        कथाकथन, अनुभव कथन, प्रवास वर्णन - कथनात्मक
                    </li>
                    <li>
                        साक्षरता अभियान, स्वच्छता अभियान - नाट्यीकरण
                    </li>
                    <li>
                        स्नेहसंमेलन पथनाट्य - अभिनयात्मक
                    </li>
                    <li>
                        स्मृतिदिन, जन्मदिन, १५ ऑगस्ट स्वातंत्र्य दिन , २६ जानेवारी प्रजासत्ताक दिन. - राष्टीय एकात्मता
                    </li>
                    <li>
                         राष्ट्रीय सण व उत्सव, संस्था वर्धापन दिन, गुणवंत विद्यार्थी सत्कार - समारंभात्मक
                    </li>
                    <li>
                        ग्रंथप्रदर्शन, चित्रप्रदर्शन, रांगोळी स्पर्धा, पुष्परचना, भेट कार्ड व शुभेच्छा कार्ड, निमंत्रण प्रत्रिका - प्रदर्शनात्मक
                    </li>
                    <li>
                        विद्यार्थी सहाय्य यौजना, भूकंपग्रस्त मदत निधी, श्रमसंस्कार, शिबीर, दत्तक पालक यौजन, वृक्षरोपण - सेवात्मक
                    </li>
                    <li>क्षेत्रभेटी, पालक भेट, पालक मेळावे - संपर्कात्मक  </li>
                </ul>
            </div>

        </div>

    </div>
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>




