
@{
    ViewBag.Title = "वैशिष्ट्ये";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>इथेच का यायचे...</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <ul>
                    <li>वैयक्तिक लक्ष</li>
                    <li>बालस्नेही व रमणीय शैक्षणिक वातावरण</li>
                    <li>विविध स्पर्धा परीक्षेत असंख्य विद्यार्थी गुणवत्ता यादीत</li>
                    <li>इ. १ ली पासून सेमी इंग्रजी</li>
                    <li>अद्यावत डिजिटल क्लासरूम व ई –लर्निंग अभ्यासक्रम</li>
                    <li>सुसज्य ग्रंथालय</li>
                    <li>विविध उपक्रमाद्वारे विकासाचा ध्यास </li>
                    <li>अल्प फी मध्ये अॅबॅकस व बुद्धिबळ प्रशिक्षणाची सोय</li>
                    <li>उच्च शिक्षित व अनुभवी शिक्षक वर्ग</li>
                    <li>स्कूलबस ची सोय</li>
                    <li>आरोग्य तपासणीसाठी व्हिजिटिंग डॉक्टर</li>
                    <li>क्रीडा स्पर्धांची तयारी व क्रीडागुणांची जोपासना</li>
                    <li>बालसभा</li>
                    <li>वक्तृत्व स्पर्धा</li>
                    <li>प्रश्नमंजूषा</li>
                    
                </ul>
             
            </div>

        </div>
       
    </div>
</div>


