
@{
    ViewBag.Title = "मुख्याध्यापक कक्ष";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


        <div class="container padding-top-15 padding-bottom-15">
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="principal-photo">
                        <img width="340" src="~/img/img_pricipal.png" />
                    </div>
                    <div class="principal-name">
                        सौ.ज्योती दिपक शिंदे
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> बी. ए. डी. एड. 	</td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td><a href="mailto:"> </a> </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> <a href="tel:9421214121">९४२१२१४१२१</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="para-title">मुख्याध्यापकांचा संदेश </div>
                    <p class="para-text">
                        श्री. मळाईदेवी शिक्षण संस्थेने दर्जेदार प्राथमिक शिक्षणाची हेळसांड होऊ नये म्हणून आदर्श प्राथमिक विद्यालयची स्थापना केली.
                        या शाळेच्या अंकुराचा वटवृक्ष होईपर्यंत विकासाच्या वाटचालीत व प्रगतीत संस्थेचा सिंहाचा वाटा आहे.
                    </p>
                    <p class="para-text">
                        गेल्या २३ वर्षामध्ये विद्यालयाने विविध क्षेत्रांमध्ये उल्लेखनीय यश संपादन केले आहे.
                        यामध्ये विविध स्पर्धापरीक्षांमध्ये आज अखेर १५० हून अधिक विद्यार्थ्यांनी शाळेच्या शिरपेचात मानाचा तुरा रोवला आहे.
                        शाळेचे माजी विद्यार्थी डॉक्टर, इंजिनीअर, शास्त्रज्ञ, हवाई सुंदरी, सैनिक, उत्तम शेतकरी, शासकीय अधिकारी इ.
                        उच्च विद्याविभूषित पदावरती कार्यरत आहेत. आज रोजी परिसरातील एक नामांकित शाळा म्हणून विद्यालयाची ओळख आहे.
                    </p>
                    <p class="para-text">
                        डॉ. राधाकृष्णन म्हणतात "आपण एक संस्कृती घडवीत आहोत. कारखाना नाही.
                        संस्कृतीचे मूल्य व श्रेष्ठत्व हे भौतिक समृद्धी अथवा शासकीय यंत्रणा यावर अवलंबून नसून माणसाच्या चारित्र्यावर आहे.
                        म्हणून शिक्षकाचे प्रमुख काम च्यारित्र्यनिर्मिती हे आहे. अभ्यासपूरक कार्यक्रम हेच चारित्र्य निर्मितीचे प्रमुख व प्रभावी साधन आहे.

                        आज आम्हाला चारित्र्य घडवणारे,  बुद्धी विशाल करणारे आणि स्वावलंबी  बनवणारे शिक्षण हवे आहे.
                        जागतिक स्पर्धेच्या युगात शालेय प्रगतीबरोबरच सक्षम,
                        सुसंस्कार व्यक्तिमत्वसाठी चारित्र्य घडवणे खूप महत्वाचे आहे आणि हेच या संस्कार केंद्रात घडवले जाते.
                    </p>
                </div>


            </div>

        </div>

    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

