
@{
    ViewBag.Title = "नियम व सूचना";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>विद्यालयाचे नियम </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <ul>
                    <li>
                        सर्व विद्यार्थ्यांनी नियमित व वेळेवर शाळेमध्ये उपस्थित रहावे व नियमित अभ्यास करावा.
                    </li>
                    <li>
                        शालेय गणवेश नियमित वापरावा.
                    </li>
                    <li>
                        शालेय परिसर, वर्ग स्वछ ठेवावा.
                    </li>
                    <li>
                        शाळेतील साहित्याची मोडतोड करू नये.
                    </li>
                    <li>
                        शाळेच्या शिस्तीच्या नियमांचे काटेकोर पालन करावे.
                    </li>
                    <li>
                        शालेय व सहशालेय उपक्रमात सहभाग घ्यावा.
                    </li>
                </ul>
            </div>

            <div class="col title-para"><strong>पालकांना महत्वाच्या सूचना</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <ul>
                    <li>
                        शाळेची वेळ सोमवार ते शुक्रवार – सकाळी १०.३० ते ५.०० शनिवार - सकाळी ७.४५ ते ११.३० अशी राहील.
                    </li>
                    <li>पालकांनी आपल्या पाल्यास शाळेत पाठविताना व्यवस्थित तयारी करून पाठवावे. दप्तरात पाटी, पेन्सिल, वह्या, पुस्तके व्यवस्थित आहेत 
                    याची रोज खात्री करून घ्या. त्याच्या डब्यामध्ये पोळी भाजीच द्या. शक्यतो त्याच्याजवळ सहजपणे वागविता येईल अशी छोटी वॉटर बॅग द्या.
                    सोबत हातरुमालही द्या. त्याच्या स्वच्छतेकडे काळजीपूर्वक लक्ष द्या. केस नखे वेळचेवेळी कापा.</li>
                    <li>आपल्या पाल्याची आरोग्यविषयक माहिती पालकांनी अगोदर द्यावी.</li>
                    <li>प्रत्येक महिन्याच्या तिसर्‍या शुक्रवारी आपल्या पाल्याच्या वैद्यकीय तपासणीसाठी दुपारी ४ वाजता आपण स्वत: उपस्थित रहावे.</li>
                    <li>पाल्याजवळ पैसे अगर मौल्यवान वस्तू ठेवता येणार नाहीत.</li>
                    <li>पालकांनी वेळापत्रकाप्रमाणे दप्तर द्यावे.</li>
                    <li>दप्तराचे वजन कमी असावे.</li>
                    <li>ते सहज उचलता यावे. दप्तरात अनावश्यक साहित्य देऊ नये.</li>
                    <li>प्रत्येक पालकांनी आठवड्यातील शनिवारी शाळेत येवून आपल्या पाल्याविषयी शिक्षकांजवळ चौकशी करावी.</li>
                   <li> आपल्या पाल्यास लेखन, वाचन, गणन आलेच पाहिजे. 
                    या बाबतीत सतर्क राहून शिक्षकांच्या संपर्कात राहून आपल्या पाल्याची प्रगती जाणून घ्या मात्र शिक्षकांच्या परवानगीशिवाय वर्गात जावू नका
                    व पाल्याला वर्गाबाहेर नेवू नका.</li>
                    <li>आपला पाल्य वेळेवर शाळेत पोहचेल याची आणि शाळा सुटल्यावर वेळेवर घरी पोहचेल याची खबरदारी घ्या.</li>
                    <li>शाळेने ठरवून दिलेला संपूर्ण गणवेश वापरला पाहिजे.</li>
                </ul>
            </div>



        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
