
@{
    ViewBag.Title = "शालेय समिती";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>शालेय समिती</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">नाव</th>
                            <th scope="col">हुद्दा</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>श्री.तुळशीराम शंकर शिर्के </td>
                            <td>अध्यक्ष </td>
                        </tr>
                        <tr>
                            <td>श्री.वसंतराव चंद्रु चव्हाण</td>
                            <td>उपाध्यक्ष</td>
                        </tr>
                        <tr>
                            <td>श्री.भास्करराव बाबुराव पाटील</td>
                            <td>संस्था निमंत्रित सदस्य</td>
                        </tr>
                        <tr><td>सौ.ज्योती दिपक शिंदे</td>
                        <td>सचिव</td></tr>
                        <tr>
                            <td>श्रीमती विजया अशोक पोटे</td>
                            <td>सदस्या</td>
                        </tr>
                        <tr>
                            <td>कु.मनिषा गंगाराम माने</td>
                            <td>सदस्या</td>
                        </tr>
                        <tr>
                            <td>कु. अंजनी शंकरराव भोसले</td>
                            <td>सदस्या</td>
                        </tr>
                        <tr>
                            <td>सौ. अलका लक्ष्मण पाटील</td>
                            <td>सदस्या</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col title-para"><strong>शिक्षक पालक संघ</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                सौ.ज्योती दिपक शिंदे
                                <strong>अध्यक्षा </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                सौ. शिल्पा सचिन पाटील
                                <strong>उपाध्यक्षा</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                कु.स्वाती तानाजी येडगे
                                <strong>सचिव</strong>
                            </td>
                        </tr>
                    </tbody>

                </table>
</div>
            <div class="col title-para"><strong>शिक्षक पालक संघ</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">इयत्ता</th>
                            <th scope="col">शिक्षक प्रतिनिधी</th>
                            <th scope="col">पालक प्रतिनिधी</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr><td>१अ</td><td>कु. माने मनिषा गंगाराम</td><td>श्री. सतिश नामदेव गावडे</td></tr>
                        <tr><td>१ब </td><td>कु. वैशाली संभाजी शिर्के</td><td>श्री. मनोज बाळासो थोरात</td></tr>
                        <tr><td>२अ</td><td>कु.स्वाती तानाजी येडगे</td><td>सौ. संगीता विजय अवसरे</td></tr>
                        <tr><td>२ब</td><td>सौ. ज्योती दिपक शिंदे</td><td>सौ. मेघना गणेश पवार</td></tr>
                        <tr><td>३अ</td><td>श्री. दिपाली पांडुरंग पाटील</td><td>श्री. विठ्ठल आत्माराम जाधव</td></tr>
                        <tr><td>३ब</td><td>श्री. शिर्के हेमंत दिलीप</td><td>सौ. सुजाता कुलदीप काकडे</td></tr>
                        <tr><td>४अ</td><td>कु. थोरावडे स्वाती लक्ष्मण</td><td>सौ. रेश्मा विजय वाडेकर</td></tr>
                        <tr><td>४ब</td><td>कु. भोसले अंजनी शंकरराव</td><td>सौ. सोनाली बाबुराव जाधव</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>


