
@{
    ViewBag.Title = "ग्रंथालय";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">सुविधा</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">

            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12">
                <img src="~/img/departments/library.jpg" class="title-image" />

                <div class="col title-para">&nbsp; <br /> <strong>ग्रंथालय व पुस्तकपेढी</strong> </div>
                <div class="col">
                    <p class="text-justify">
                        विद्यालयात स्वतंत्र ग्रंथालय असून २२७० पुस्तके व मासिके आहेत.
                        विद्यार्थी  व शिक्षक पुस्तक देवघेव रजिस्टर त्यासह पुस्तक नोंद राजिस्टर आहे.
                        पुणे येथील ज्ञान की वाचनालय
                        श्री. प्रदीप लोखंडे यांचेकडून वेगवेगळ्या स्पर्धेत सहभाग घेतल्याने अनेक पुस्तके मोफत मिळवली आहेत.

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                @Html.Partial("_nofitications")
            </div>
        </div>

    </div>
</div>



