
@{
    ViewBag.Title = "खेळाचे मैदान";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">सुविधा</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">

            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12">
                <img src="~/img/departments/playground.png" class="title-image" />

                <div class="col title-para">&nbsp; <br /> <strong>खेळाचे मैदान</strong> </div>
                <div class="col">
                    <p class="text-justify">
                        विद्यालयात २०४५ चौ. मी. चे खेळाचे मैदाण आहे. विद्यार्थी शालेय क्रीडा स्पर्धेत सहभागी होत असतात कुस्ती व गोळाफेक मध्ये जिल्हास्तर यश मिळवले आहे. 
                        तसेच विद्यालयात व्हॅलीबॉल, बॅडमिंटन, गोळाफेक, थाळीफेक, अथ्लेटिक्स, योगासने सूर्यनमस्कार स्पर्धा नियमित घेतल्या जातात.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                @Html.Partial("_nofitications")
            </div>
        </div>

    </div>
</div>



