
@{
    ViewBag.Title = "वैशिष्ट्ये";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>विद्यालयाची वैशिष्ट्ये </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <p>
                    <strong>विद्युतपुरवठा :</strong> २४x७ विद्युतपुरवठा होण्याचा दृष्टीने विद्यालयाचे उपक्रमशील मुख्याध्यापक श्री. पवन पाटील सरांचे संकल्पनेतून 
                    सौर विद्युत यंत्रणा जोडली असून कोणत्याही पद्धतीचा विद्युत खर्च न होता शाळेला मोफत भरपूर वीज मिळते.
                </p>
                <ul>
                    <li>विद्यालयाची सुसज्ज </li>
                    <li>प्रशस्त व सर्व सोईनियुक्त RCC इमारत  </li>
                    <li>स्पर्धा परीक्षांची तयारी व मार्गदर्शन </li>
                    <li>समृद्ध ग्रंथालय </li>
                    <li>अद्यावत प्रयोगशाळा </li>
                    <li>हिन्दी , इंग्रजी, गणित बाह्य परीक्षेचे मार्गदर्शन</li>
                    <li>स्कऊट/गाईड,आर एस पी,एम सी सी प्रशिक्षण</li>
                    <li>स्वतंत्र संगणक कक्ष</li>
                    <li>निकलची उज्वल परंपरा </li>
                    <li>ई ५ वी ई ८ वी शिष्यवृत्ती गुणवत्ताधारक विद्यार्थी परंपरा कायम </li>
                    <li>समूह गीत गायन स्पर्धा</li>
                    <li>५ वी ते १० वी मध्ये सेमी इंग्रजी माध्यमाची सोय </li>
                    <li>खेळाचे विशेष मार्गदर्शन व उन्हाळी क्रीडा शिबिराचे आयोजन जवाहर नवोदय परीक्षा, एन. टी. एस., एन. एन. एम. एस. व चित्रकला परीक्षा मार्गदर्शन </li>
                    <li>ई ६ वी एम. टी. एस. ,एम. एस. डी. टी. एस. परीक्षेसाठी मार्गदर्शन</li>
                    <li>वक्तृत्व व निबंध स्पर्धेचे मार्गदर्शन</li>
                    <li>एन. एम. एम. एस. विद्यार्थी शिष्यवृत्ती धारक </li>
                    <li>ई ९ वी चार विधार्थी शीषवृत्ती धारक, जिल्हा गुणवत्ता यादीत ३  विद्यार्थी शिष्यवृत्ती धारक, कराड तालुका गुणवत्ता यादीत प्रथम</li>
                    <li>शासकीय चित्रकला ग्रेड परीक्षा (एलेमेटरी/इंटरमिजिएट) १००% निकाल.</li>
                    <li>एस. एस. सी. परीक्षा उचांकी निकालाची परंपरा कायम</li>
                    <li>सौर विद्युत प्रकल्पतून विध्यर्थ्यांसाठी वीजपुरवठा</li>
                    <li>सीसी टीव्ही कॅमेरा सुरक्षा यंत्रणा कार्यरत.</li>
                </ul>
            </div>

        </div>
        <div class="row hide">
            <div>
                <div class="col title-para"><strong>शाळेची गुणवत्ता विकास</strong> </div>

                <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                    <p class="text-justify">
                        माध्यमिक विद्यालयाची गुणवत्ता उंचावण्यासाठी आणि शैक्षणिक प्रक्रिया गतिमान करण्यासाठी गुणवत्तेला जास्त प्राधान्य दिले आहे. शाळा गुणवत्ता विकासामध्ये पुढील घटकांचा समावेश होतो.
                    </p>
                    <ol>
                        <li>शिक्षकास विद्यार्थ्याची सामाजिक व आर्थिक पार्श्वभूमी याची जाणीव असणे.</li>
                        <li>शिक्षकास विषय ज्ञान व अध्यापन कौशल्याची माहिती असणे.</li>
                        <li>वर्ग व्यवस्थापन वातावरण निर्मिती अध्यापन नियोजन इ.</li>
                        <li>विद्यार्थ्याचे मूल्यमापन करणेसाठी शिक्षकांकडे ज्ञान असणे गरजेचे आहे.</li>
                        <li>वरील सर्व घटकांचा विचार करता विद्यार्थ्यांच्या शिक्षणाच्या मुख्यप्रवाहात आणणे त्याची शैक्षणिक आणि सर्वांगीण प्रगति करणे या करिता 
                        संस्था विद्यार्थी पालक शिक्षक आणि समाज यांचा शैक्षणिक प्रक्रियेत सहभाग असणे फार महत्वाचे आहे.</li>
                    </ol>

                </div>


            </div>
        </div>
    </div>
</div>


