
@{
    ViewBag.Title = "मुख्याध्यापक कक्ष";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


        <div class="container padding-top-15 padding-bottom-15">
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="principal-photo">
                        <img width="340" src="~/img/img_pricipal.png" />
                    </div>
                    <div class="principal-name">
                        श्री.पाटील पवन राजाराम
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> एम ए बी पी एड 	 </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td><a href="mailto:nanaanadraochavanpotale@gmail.com">nanaanadraochavanpotale@gmail.com</a> </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> <a href="tel:9822275703">९८२२२७५७०३</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="para-title">मुख्याध्यापकांचा संदेश </div>
                    <p class="para-text">
                        परिसरातील पाच गावांसाठि अत्यंत सोयीची शाळा  असून ई ५ वी ते १० वी अखेर ३४० विद्यार्थी ज्ञानार्जन करतात. 
                        विद्यार्थ्यांच्या शैक्षणिक प्रगतीबरोबर सर्वकाश प्रगती उंचावण्यासाठी शाळेत सातत्याने, नवनवीन उपक्रम राबवले जातात.
                        विद्यालयात ९ वर्ग खोल्या असून, उपक्रमशील मुख्याद्यापक श्री. पवन पाटील व होतकरू १४ अध्यापक ज्ञानदान करत आहेत.
                        गेले २९ वर्षाहून अधिक काळ दहावीचा निकाल ९०% जास्त ठेवण्यात शाळा यशस्वी ठरली आहे. 
                        ई ५ वी ते १० वी साठी सेमी इंग्रजीची खास सोय आहे. समृद्ध ग्रंथालय व स्वतंत्र संगणक कक्ष असून, इंटरनेट ची सुविधा उपलब्ध आहे.
                        माध्यमिक शिष्यवृत्ती परीक्षा, एन. टी. एस., एन. एन. एम. एस. व एलेमेटरी/इंटरमिजिएट परीक्षा जवाहर नवोडय परीक्षा विद्यालयात राबवल्या जातात. 
                        जिल्हा विभाग व राज्य पातळीवर मैदानी स्पर्धेतील यश खास वैशिष्ट मानले जाते.
                        लेझीम, झांजपथक, लाठीकाठी, दांडपट्टा या मर्दानी खेळाचा वारसा विद्यालयाने मांनापासून सांभाळला आहे. 
                        विद्यालयाची सर्वसोयीनियुक्त विज्ञान प्रयोगशाळा नेहमीच विद्यार्थ्यांचा वैज्ञानिक दृष्टीकोण जोपासत असते इन्स्पायर अवॉर्ड मध्ये प्रतीवर्षी शाळेचा सहभाग असतो. 
                        विद्यालया अंतर्गत विज्ञान प्रदर्शन व शैक्षणिक साधन निर्मिती प्रदर्शन आयोजित केले जाते. विद्यार्थ्यानी विद्यार्थ्यासाठी चालवलेले “जीवन ज्योति सहकार भंडार” महत्वपूर्ण आहे. 
                        विद्यार्थी संचालिका, राष्ट्रीय हरितसेना, बिजारोपण, वृक्षसवर्धन ,आरएसपी स्काऊट गाईड ई.
                        विविध विभागामार्फत अनेक उपक्रम राबवून विद्यार्थ्याना काळाची पावले ओळखून जीवनात गतिमान व सक्षम करण्याचा नेहमीच प्रयत्न केला जातो.
                    </p>
                    <p class="para-text">
                        आमचे विद्यालयामध्ये दर्जेदार व गुणवत्तापूर्ण शिक्षण दिले जाते. आ. च. विद्यालय हे एक आदर्श शैक्षणिक संकुल आहे.
                    </p>

                </div>


            </div>

        </div>

    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

