@{
    ViewBag.Title = "सांस्कृतिक विभाग ";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">विभाग</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">

            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12 card p-0">
                <div class="card-header font-weight-bold">
                    सांस्कृतिक विभाग
                </div>
                <img src="~/img/Departments/cultural.png" class="title-image" />

                <div class="col title-para">&nbsp; <br /> <strong></strong> </div>
                <div class="col">
                    <p class="text-justify">
                        विद्यालयामध्ये सांस्कृतिक विभाग हा महत्वाचा मानला जातो.
                        शाळा सुरु झाल्या पासून वर्षभरामध्ये विविध प्रकारचे कार्यक्रम राबवले जातात.
                        यामध्ये नवांगतांचे स्वागत. गुणवंत विद्यार्थी सत्कार, राष्ट्रीय नेत्यांची जयंती पुण्यतिथी. सांस्कृतिक कार्यक्रम इ. समावेश होतो.
                        सर्व कार्यक्रम अतिशय नीटनेटके व नियोजबद्ध पणे पार पडले जातात.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                @Html.Partial("_nofitications")
            </div>
        </div>

    </div>
</div>



