@{
    ViewBag.Title = "वैद्यकीय तपासणी";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">विभाग</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">

            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12 card p-0">
                <div class="card-header font-weight-bold">
                    <strong>@ViewBag.Title</strong>
                </div>
                <img src="~/img/Departments/student_helth.png" class="title-image" />


                <div class="col">
                    <p class="text-justify">
                        <br />
                        विद्यार्थ्यांच्या बौद्धिक विकासाबरोबर शारीरिक विकासासाठी पोषक आहाराची गरज असते या दृष्टीकोणातून विद्यालयातील सर्व विद्यार्थ्यांना केळी, 
                        अंडी, गूळ-शेंगदाने, खारीक, खजूर, चिक्कू, सफरचंद, दूध, शिरा, इत्यादी प्रकारचा पोषक आहार दिला जातो.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                @Html.Partial("_nofitications")
            </div>
        </div>

    </div>
</div>