
@{
    Layout = null;
}
<!-- Slider start -->
<div class="full-widht menu-bg">

    <div id="feedbackCarousel" class="carousel slide" data-ride="carousel">
        <div class="history-title text-center">
            पालकांचे मनोगत
        </div>
        <ol class="carousel-indicators">
            <li data-target="#feedbackCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#feedbackCarousel" data-slide-to="1"></li>
            <li data-target="#feedbackCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="4000">
                <div class="container">
                    <div class="row feedback-text">
                        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <div class="col">
                                <img src="~/img/parent.png" width="150px" style="border-radius:50%" />
                            </div>
                            <div class="col text-center font-weight-bold feedback-name">
                                श्री. पाटील देवेंद्र बाबुराव
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 feedback-text-container text-justify">
                            <img src="~/img/quote-left.png" class="quote-img-left" />
                            माझा पल्या कु, पाटील तुषार देवेंद्र हा सन २०१८-१९ मध्ये ई १०वी मध्ये शिकत होता या शाळेमध्ये विद्यार्थ्याकडे वैयक्तिकलक्ष् दिले जाते .अनिवासी गुरुकुलची शाळेमध्ये सोय असल्यामुळे विद्यार्थ्यामधे गुणवत्ता पूर्ण’ शिक्षण मिळत आहे. मी शाळेतील शिक्षणा बद्दल समाधानी आहे शाळेने अशीच उतरोत्तर प्रगती करावी व शाळेचा व गावचा नावलौकिक वाढवावा ही सदीच्या व्यक्त करतो.
                            <img src="~/img/quote-left.png" class="quote-img-right" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="4000">
                <div class="container">
                    <div class="row feedback-text">
                        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <div class="col">
                                <img src="~/img/parent.png" width="150px" style="border-radius:50%" />
                            </div>
                            <div class="col text-center font-weight-bold feedback-name">
                                श्री. यादव संजय दिनकर
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 feedback-text-container text-justify">
                            <img src="~/img/quote-left.png" class="quote-img-left" />
                            शाळेची गुणवत्ता व बाहुतीक सुविधा असल्याने या शाळेत प्रवेश घ्यायला काहीच हरकत नाही शाळेची शिस्त आनंदी वातावरण वायक्तिक लक्ष आहे.
                            <img src="~/img/quote-left.png" class="quote-img-right" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="4000">
                <div class="container">
                    <div class="row feedback-text">
                        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <div class="col">
                                <img src="~/img/parent.png" width="150px" style="border-radius:50%" />
                            </div>
                            <div class="col text-center font-weight-bold feedback-name">
                                श्री. मोरे दिनकर जगन्नाथ
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 feedback-text-container text-justify">
                            <img src="~/img/quote-left.png" class="quote-img-left" />
                            पालक शाळेमध्ये विद्यार्थ्यांच्या गुणवत्ता वाढीसाठी शाळा नेहमीच प्रयत्नशील असते
                            विद्यार्थ्यांच्या शररिक मानसिक विकासकडे शिक्षक व संस्था  नेहमीच लक्ष देते विद्यार्थी शिष्यवृत्ती धारक होण्यासतही सराव करून घेता जातो परिसरातील शाळेपेक्षा गुणवत्ता चांगली आहे.
                            <img src="~/img/quote-left.png" class="quote-img-right" />
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <a class="carousel-control-prev" href="#feedbackCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#feedbackCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- slider end -->
