@{
    ViewBag.Title = "Director Body";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">

            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">


                <div class="col title-para">&nbsp; <br /> <strong>संचालक मंडळ</strong> </div>
                <div class="director-middle-container">
                    <div class="row">
                        @*<div class="col-md-12">
            <div class="director-title">
                Director Body
            </div>
        </div>*@
                        <div class="col-md-4">
                            <div class="director-img">
                                <img src="\img\1.PNG">
                            </div>
                            <div class="director-nametitle text-center">
                                Mr. Pandurang Ganpati Patil
                            </div>
                            <div class="director-post">
                                President 
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="director-img">
                                <img src="\img\2.PNG">
                            </div>
                            <div class="director-nametitle text-center">
                                Mr. Bhaskrarao Baburao Patil
                            </div>
                            <div class="director-post">
                                Vice-President
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="director-img">
                                <img src="\img\Ashokrao_Thorat_Bhau.png">
                            </div>
                            <div class="director-nametitle text-center">
                                Mr. Ashokrao Kisan Thorat
                            </div>
                            <div class="director-post">
                                Secretary
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="director-img">
                                <img src="\img\4.PNG">
                            </div>
                            <div class="director-nametitle text-center">
                                 Mr. Tulashiram Shankar Shirke
                            </div>

                            <div class="director-post">
                                Treasurer
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="director-img">
                                <img src="\img\7.png">
                            </div>
                            <div class="director-nametitle text-center">
                                Mr. Vasantrao Chandru Chavan
                            </div>

                            <div class="director-post">
                                Member
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="director-img">
                                <img src="\img\Sanjay_Thorat.png">
                            </div>
                            <div class="director-nametitle text-center">
                                Mr. Sanjay Jotiram Thorat
                            </div>

                            <div class="director-post">
                                Member
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="director-img">
                                <img src="\img\Swati_Thorat.png">
                            </div>
                            <div class="director-nametitle text-center">
                                Dr. Swati Ranjeet Thorat
                            </div>

                            <div class="director-post">
                                Member
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>



