
@{
    ViewBag.Title = "Objective";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            @*<div class="col title-para"><strong></strong>  <br /> &nbsp;</div>*@
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12 text-justify">
                <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12 text-justify">
                   
                    <p class="text-justify">
                      
                    </p>


                </div>

            </div>
        </div>
    </div>
</div>

             

               