
@{
    ViewBag.Title = "Principal's Desk";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


        <div class="container padding-top-15 padding-bottom-15">
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="principal-photo">
                        <img width="340" src="~/img/img_pricipal.png" />
                    </div>
                    <div class="principal-name">
                        Prof. Dr. R. T. Jadhav
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td>	M.Sc. M.Ed. Ph.d. (Phy)  </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td><a href="mailto:"></a> </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> <a href="tel:9423829482">9423829482</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="para-title">Principal's Message</div>
                    <p class="para-text">
                        Star English Medium School & Jr. College is Principal, I feel honoured to be in charge of seat of learning that can mould the most significant resource of the nation-young impressionable human minds. Our school is filled with enthusiastic students willing to learn, supportive parents interested in their children seduction & a dedicated professional staff committed to providing the students with a quality education. Our intention is to make scientists through our campus by giving various opportunities. A school is always a world in miniature where on receives training for life. Where effective, meaningful and joyful learning takes place.
                    </p>
                    <p class="para-text">
                        In our Institute Star English Medium School and Jr College, Malkapur, DR. R. T. JADHAV SIR working as Principal. 
                        He is well educated and he has Phd in Physics subject. He has total 18 years teaching experience. He has dynamic personality and scientific view . Since 2014 he is working as Principal in our Institute. He has published 50 papers on international and national level conference, and also published book for MPSC/UPSC. He has guideship from JJT University Rajsthan. He has experience in various stream's i.e. Science, Polytechnic, Engineering, P G. , Doploma, etc. 
                        Even he worked Principal of Academy head in various renowned  institute such as- K.K wagh, Amrutvahini, Yashoda.
                    </p>

                </div>


            </div>

        </div>

    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

