
@{
    ViewBag.Title = "Teaching Staff";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para text-center"><strong>Collage Teaching Staff</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr.No </th>
                            <th scope="col">Teacher's Name</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Prof. Dr. Ramchandra Tukaram Jadhav</td><td>Msc.M.Ed. Ph.D(Physics)</td><td>Principal</td></tr>
                        <tr><td>2</td><td>Mrs. Swati Ramchandra Jadhav</td><td>M.A.B.Ed.(Eng.Med.)</td><td>HOD</td></tr>
                        <tr><td>3</td><td>Mrs. Monali shahaji Jadhav</td><td>Msc.M.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>4</td><td>Mrs. Manisha Sunil Patil</td><td>M.A.B.Ed.(MarathiMed.)</td><td>Assistant Teacher</td></tr>
                        <tr><td>5</td><td>Miss. Rukaiyya Kasam Choudhari</td><td>B.E. (E & TC)</td><td>Assistant Teacher</td></tr>
                        <tr><td>6</td><td>Miss. Soniya Manohar Misal</td><td>Bsc.(Agri)</td><td>Assistant Teacher</td></tr>
                        <tr><td>7</td><td>Mr. Abhishek Milind Joshi</td><td>M.C.A.</td><td>Assistant Teacher</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="col title-para text-center"><strong>Secondary Section </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr.No </th>
                            <th scope="col">Teacher's Name</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Prof. Dr. Ramchandra Tukaram Jadhav</td><td>Msc.M.Ed. Ph.D(Physics)</td><td>Principal</td></tr>
                        <tr><td>2</td><td>Mrs. Sujata Vijay Kumbhar</td><td>B.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>3</td><td>Mrs. Lata Balaso Jadhav</td><td>Bsc.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>4</td><td>Mrs. Rekha Suresh Yadav</td><td>Bsc.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>5</td><td>Miss. Priyanka Dinkar Patil</td><td>M.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>6</td><td>Mrs. Tejshree Umesh Kharkande</td><td>M.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>7</td><td>Mrs. Jayshree Kishor Mali</td><td>M.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>8</td><td>Mrs. Shanta Sachin Bhise</td><td>B.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>9</td><td>Mrs. Vanita Dattatraya Chavan</td><td>B.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>10</td><td>Mrs. Priyanka Ajay Chavan</td><td>Bsc.(Stats)</td><td>Assistant Teacher</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="col title-para text-center"><strong>Primary Section </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr.No </th>
                            <th scope="col">Teacher's Name</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Mrs. Aruna Suhas Patil</td><td>M.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>2</td><td>Mrs. Dipali Sandeep Shirke</td><td>Bsc.(Maths)</td><td>Assistant Teacher</td></tr>
                        <tr><td>3</td><td>Smt. Shubhangi Harishchandra Shirke</td><td>B.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>4</td><td>Mrs. Ashwini Appaso Mane</td><td>B.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                        <tr><td>5</td><td>Mrs. Swati Rohit Pujari</td><td>B.A.B.Ed.</td><td>Assistant Teacher</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="col title-para text-center"><strong>Pre-Primary Section </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr.No </th>
                            <th scope="col">Teacher's Name</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Mrs. Poonam Harshal Chavan</td><td>----</td><td>Assistant Teacher</td></tr>
                        <tr><td>2</td><td>Mrs. Rupali Ashok Thorat</td><td>----</td><td>Assistant Teacher</td></tr>
                        <tr><td>3</td><td>Mrs. Shital Shashikant More</td><td>----</td><td>Assistant Teacher</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="col title-para text-center"><strong>Non-Teaching Section </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr.No </th>
                            <th scope="col">Name</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Mr. Shashikant Vitthal Yedge</td><td>H.S.C.</td><td>Clerk</td></tr>
                        <tr><td>2</td><td>Mr. Sachin Abasaheb Patil</td><td>ADCM, MSCIT</td><td>Clerk</td></tr>
                        <tr><td>3</td><td>Mr. Amar Panaskar</td><td>----</td><td>Peon</td></tr>
                        <tr><td>4</td><td>Mrs. Kavita V. Mule</td><td>----</td><td>Peon</td></tr>
                        <tr><td>5</td><td>Mr. Viraj Vitthal Yedge</td><td>----</td><td>Peon</td></tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>


