
@{
    ViewBag.Title = "पारितोषिके";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                एच. एस. सी.  परीक्षा पारितोषिके
            </div>
            <p class="text-justify">
                <ol>

                    <li>कै. शंकरराव बाबुराव पाटील (आजीव सदस्य रयत शिक्षण संस्था) यांचे स्मरणार्थ श्री. दिलीप पाटील यांचेकडून मराठी विषयात प्रथम क्रमांकासाठी </li>
                    <li> कै.दत्तात्रय विठ्ल पाटील (टाळगाव) यांचे स्मरणार्थ श्री.दिलीप पाटील  यांचेकडून गणित विषयात प्रथम क्रमांकासाठी व मराठी विषयात प्रथम क्रमांकासाठी  </li>
                    <li>कै. गणेश महादेव पांढरपट्टे यांचे स्मरणार्थ श्री.संभाजी मारुती पांढरपट्टे यांचेकडून विज्ञान विभागासाठी</li>
                    <li>सौ. परवीन मुश्ताक बागवान यांचेकडून १२ वी प्रथम क्रमांकासाठी</li>
                    <li>सौ.राजश्री शेटे - इंग्रजी विषयात प्रथम क्रमांकासाठी</li>
                    <li>कै.रघुनाथ यादव पाटील, आटके यांचे स्मरणार्थ प्राचार्य श्री.पाटील आर आर यांचेकडून इ १२ वी तिन्ही शाखेतील प्रथम क्रमांकासाठी </li>
                    <li>श्री. एस. वाय. गाडे, कालवडे यांचेकडून १२ वी  प्रत्येक शाखेतून इंग्रजी विषयात प्रथम क्रमांकासाठी</li>
                    <li> श्री.कृष्णत हरी शिर्के यांचे स्मरणार्थ श्री. अनिल शिर्के,  नांदलापूर यांचेकडून  १२ वी कला शाखेतील प्रथम तीन क्रमांकासाठी कै सौ. राजलक्ष्मी बाळासाहेब कारळे यांचे स्मरणार्थ </li>
                    <li>श्री. एस. एम. धोंगडी यांचेकडून वाणिज्य शाखा प्रथम तीन क्रमांक</li>
                    <li>सौ. एस. डी. खंडगाळे यांचेकडून तिन्ही शाखेतील प्रथम क्रमांकासाठी व मराठीत प्रथम क्रमांकासाठी</li>
                    @*<li>प्रा. श्री. हणमंतराव कराळे, मालकापूर यांचेकडून मराठी विषयात प्रथम मुलींसाठी कै. वैजयंती रामचंद्र जाधव, गोळेश्वर यांचे स्मरणार्थ.</li>
                    <li>सौ. निलम विक्रममराव महाडीक, नेर्ले १२ वी तिन्ही शाखेतील प्रथम क्रमांकासाठी कै. विठ्ल चंद्रोजी जाधव यांच्या स्मरणार्थ श्री.अशोक जाधव, गोळेश्वर यांचेकडून  प्रत्येक शाखेतील प्रथम तीन क्रमांकासाठी</li>
        <li>विविध स्पर्धा पारितोषिके  प्रा. श्री उदय जाधव, प्रा. व्ही. डी. थोरात, श्री. दिलीप पाटील </li>
         <li>वकृत्व, निबंध,  सुंदर हस्ताक्षर, रंगोली स्पर्धा - श्री.पांडुरंग यशवंत खंडगाळे (कासेगाव)</li>
         <li>पुष्परचना, विणकाम, भरतकाम, हस्तकला, मेहंदी स्पर्धा - श्री. तुकाराम सुतार (नांदलापूर)</li>*@

                </ol>
            </p>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>

