
@{
    ViewBag.Title = "उपक्रम";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para ">
                <strong>
                    विद्यार्थ्यांच्या सर्वांगीण विकासासाठी आमच्या विद्यालयात विविध सहशालेय व सामाजिक उपक्रम राबावले जातात.<br />&nbsp;
                </strong>
            </div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12 ">


                <p class="text-justify">
                    <strong>विद्यार्थी दत्तक योजना </strong> विद्यार्थ्यांच्या अडीअडचणी सोडवण्यासाठी व विद्यार्थ्यांच्या व्यक्तिमत्वचा सर्वांगीण विकास घडविण्यासाठी गुणवत्तेत कमी पडणार्‍या विद्यार्थ्याला शिक्षक दत्तक घेतात व त्यांची गुणवत्ता वाढविण्याचा प्रयत्न केला जातो.


                </p>
                <p class="text-justify">
                    विद्यार्थी कल्याण निधीतून प्रतिवर्षी गरीब, हुशार व होतकरू विद्यार्थ्यांना बस पास ‘फॉर्म फी’ शिक्षण फी इ. बाबतीत आर्थिक सहाय्य केले जाते.
                </p>
                <p class="text-justify">
                    १२ वीतील विद्यार्थ्यांना सर्व विषयांचे इतर तज्ञ प्राध्यापक व प्राचार्य यांचे मार्गदर्शन
                </p>

                <p class="text-justify">
                    <strong> नियतकालिक:</strong> विद्यार्थ्यांच्या लेखन गुणांचा व अभ्यासूवृत्तीचा योग्य आविष्कार व्हlवा म्हणून चालू शैक्षणिक वर्षापासून नियतकालिक सुरू करीत आहोत.तसेच गत वर्षापासून प्रत्येक विद्यार्थ्याला श्री मळाईदेवी शिक्षण संस्थेचे दिनदर्शिकेचे वाटप करण्यात येते.
                </p>
                <p class="text-justify">
                    <strong>श्रमदान शिबीर :</strong> दरवर्षी २ अक्टोबर रोजी परिसरामध्ये विविध ठिकाणी श्रमसंस्कार शिबिरे आयोजित केली जातात संस्कारक्षम विद्यार्थी घडवले जातात.
                </p>
                <p class="text-justify"> <strong>बाह्य स्पर्धा :</strong> 1. भूगोल प्रज्ञा शोध </br>2. आर्य चाणक्य गणित स्पर्धा </br> 3. निबंध व वक्तृत्व स्पर्धा. </p>


                <p class="text-justify">
                    दिवाळी मधील वाढते प्रदूषण व अपघात याला आळा घालण्यासाठी विद्यार्थी व पालकांमध्ये प्रबोधन करण्यासाठी संस्था व शाळे मार्फत जनजागृती केली जाते 
                    तसेच फटाके न फोडण्याची शपथ घेतली जाते.
                </p>

            </div>

            <div class="col title-para"><strong>विद्यालयात राबवले जाणारे आभासपूरक उपक्रम व सहशालेय उपक्रम</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">

                <ul>
                    <li>परिपाठ </li>
                    <li>वाढदिवस</li>
                    <li>प्रश्नमंजुषा </li>
                    <li>विद्यार्थी आरोग्य  </li>
                    <li>मुलींसाठी स्वतंत्र आरोग्य मार्गदर्शन</li>
                 <li>श्रमदान व स्वछता शिबीर</li>
                    <li>पालक भेट </li>
<li>सहल </li>
                    <li>सांस्कृतिक विभाग </li>
                    <li>वृक्षारोपण </li>
                    <li>विद्यार्थी संचयिका </li>
                    <li>माझी विद्यार्थी संघ </li>
                    <li>मोफत पास </li>
                    <li>गरीब विद्यार्थ्यांना सहाय्य योजना </li>
                    <li>समूहगीत </li>
                    <li>पाककला </li>
                    <li>वर्गसुशोभन</li>

                </ul>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>




