
@{
    ViewBag.Title = "यशस्वी विद्यार्थी";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                आमचे क्रीडा व शैक्षणिक क्षेत्रातील उल्लेखनीय यश
            </div>
            <div class="col title-para"> <br /> &nbsp; <br /> &nbsp;<strong>सन २०१७-१८ मधील इ. १२ वी प्रथम क्रमांक विद्यार्थी</strong> <br /> &nbsp;</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">विभाग</th>
                        <th scope="col">नाव  </th>
                        <th scope="col">टक्केवारी </th>

                    </tr>
                </thead>
                <tbody>

                    <tr><td>कला शाखा</td><td>कु.राजपुरोहित कोमल मंगलसिंग </td><td> ७९.८४%  </td></tr>
                    <tr><td>वाणिज्य शाखा</td><td>देसाई निखिल अशोक</td><td> ७७.६३%  </td></tr>
                    <tr><td>विज्ञान विभाग</td><td>पाटील राजवर्धन राजेंद्र </td><td> ८४.९२%  </td></tr>


                </tbody>
            </table>
            <div class="col title-para"> <br /> &nbsp; <br /> &nbsp;<strong>सन २०१८-१९ मधील इ.११ वी प्रथम क्रमांक विद्यार्थी</strong> <br /> &nbsp;</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">विभाग</th>
                        <th scope="col">नाव  </th>
                        <th scope="col">टक्केवारी </th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>कला शाखा</td><td>कु. सदामते निवेदिता प्रकाश </td><td> ६४.१५% </td></tr>
                    <tr><td>वाणिज्य शाखा</td><td>देसाई शाहीन नशीर </td><td> ८३.३८%  </td></tr>
                    <tr><td>विज्ञान विभाग</td><td>दणाने करण सतीश</td><td> ६८.७७% </td></tr>

                </tbody>
            </table>
            <div class="col title-para"> <br /> &nbsp; <br /> &nbsp;<strong>क्रीडा क्षेत्रातील यश</strong> <br /> &nbsp;</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">विभाग</th>
                        <th scope="col">नाव  </th>

                    </tr>
                </thead>
                <tbody>
                    <tr><td>आंतरराष्ट्रीय स्तर जॉर्जिया बेल्ट रेसलिंग (युरोप)</td><td>बाबर ओंकार बाळकृष्ण</td></tr>
                    <tr><td>राष्ट्रीय स्तर कुस्ती</td><td>संग्रामसिंह संजय पाटील</td></tr>
                    <tr><td>भूगोल प्रज्ञाशोध राज्यात प्रथम</td><td>पावशे प्रथमेश नंदकुमार</td></tr>
                </tbody>
            </table>

            <div class="col title-para"> <br /> &nbsp; <br /> &nbsp;<strong>सन २०१६-१७ चे यशस्वी विद्यार्थी</strong> <br /> &nbsp;</div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">क्रमांक</th>
                        <th scope="col">नाव</th>
                        <th scope="col">विद्यालयाचा निकाल </th>
                        <th scope="col">विभाग</th>

                    </tr>
                </thead>
                <tbody>

                    <tr><td>प्रथम क्रमांक </td><td>कु. सूर्यगंध काजल विलास (७४.७६%) </td><td>(९१.६६%)</td><td>कला  विभाग</td></tr>
                    <tr><td>प्रथम क्रमांक </td><td>कु. देसाई हिना नशीर (८६.१५%) </td><td>(९७.२९%)</td><td>वाणिज्य शाखा</td></tr>
                    <tr><td>प्रथम क्रमांक </td><td>कु. पाटील इरावती दिलीप (७७%) </td><td>(१००%)</td><td>विज्ञान विभाग</td></tr>


                </tbody>
            </table>

            <div class="col title-para hide"> <br /> &nbsp; <br /> &nbsp;<strong>सन २०१७-१८ चे यशस्वी विद्यार्थी</strong> <br /> &nbsp;</div>
            <table class="table hide">
                <thead>
                    <tr>
                        <th scope="col">क्रमांक</th>
                        <th scope="col">नाव</th>
                        <th scope="col">विद्यालयाचा निकाल </th>
                        <th scope="col">विभाग</th>
                    </tr>
                </thead>
                <tbody>

                    <tr><td>प्रथम क्रमांक </td><td>कु. राजपुरोहित कोमल मंगलसिंग (७९.८४%) </td><td>(८०.९५%)</td><td>कला शाखा </td></tr>
                    <tr><td>प्रथम क्रमांक  </td><td>कु. देसाई निखिल अशोक(७७.६३%) </td><td>(९६.२०%)</td><td>वाणिज्य शाखा</td></tr>
                    <tr><td>प्रथम क्रमांक </td><td>कु. पाटील राजवर्धन राजेंद्र (८४.९२%) </td><td>(१००%)</td><td>विज्ञान विभाग</td></tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>

