@{
    ViewBag.Title = "सांस्कृतिक विभाग ";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
<div class="full-widht container-bg">
    <div class="container">
        <div class="row">
            <h5 class="page-header-title col-md-12">शाळेबद्दल > सांस्कृतिक विभाग</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>

</div>

<div class="">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">

            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12">
                <img src="~/img/departments/cultural.PNG"  class="title-image"/>

                <div class="col title-para">&nbsp; <br /> <strong>सांस्कृतिक विभाग</strong> </div>
                <div class="col">
                    <p class="text-justify">
                        विद्यालयामध्ये सांस्कृतिक विभाग हा महत्वाचा मानला जातो. 
                        शाळा सुरु झाल्या पासून वर्षभरामध्ये विविध प्रकारचे कार्यक्रम राबवले जातात.
                        यामध्ये नवांगतांचे स्वागत. गुणवंत विद्यार्थी सत्कार, राष्ट्रीय नेत्यांची जयंती पुण्यतिथी, आकाशवाणी केंद्रावर सांस्कृतिक कार्यक्रम सादर करण्यात आला इ. समावेश होतो. 
                        संगीत शिक्षक श्री. शरद तांबवेकर हे या विभागाचे प्रमुख म्हणून काम पाहतात व सर्व कार्यक्रम अतिशय नीटनेटके व नियोजबद्धपणे पार पाडले.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                @Html.Partial("_nofitications")
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>



