@{
    ViewBag.Title = "मुखपृष्ठ";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@Html.Partial("_LayoutWebsite\\_slider")
<!--BODY START-->
<div class="container-bg">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="info-title">
                    शाळेबद्दल थोडेसे
                </div>
                <p class="text-justify">
                    चिकाटी, सचोटी, ध्येय, नम्रता,निर्णय क्षमता,निर्भयता आणि आशावाद अशा अनेक गुणांचे वैशिष्ट्यपूर्ण संघटन म्हणजे व्यक्तिमत्व.
                    सध्याचे जग तीव्र स्पर्धेचे आहे. या स्पर्धेचा युगामध्ये शिक्षण अत्यंत महत्वाचे आहे. मुलींचे शिक्षण म्हणजे प्रगतीचे लक्षण.
                    तेव्हा मुलींचा सर्वांगीण व्यक्तिमत्वाचे बहुरंगी घटक प्रकट करण्याची संधी या उपक्रमशील शाळेमध्ये उपलब्ध करून दिली जाते.
                    मुलींचा शाळेमध्येच मुली मोकळेप्रमाणे वावरू शकतात असा आमचा अनेक वर्षाचा अनुभव आहे.
                    केवळ या मुळेच या शाळेतील अनेक विद्यार्थिनी वेगवेगळ्या क्षेत्रात उच्च पदावर चमकत आहेत. आपल्या कर्तुत्वाने हे सध्य केले आहे.
                </p>
                <a href="/about/objective" class="btn btn-danger">पुढे वाचा</a>
            </div>
            <div class="col-12 col-md-4">
                <div class="info-img">
                    <img src="\img\capw300x260h.PNG">
                </div>
            </div>

        </div>



    </div>
</div>

<div class="full-widht sec-bg">
    <div class="container full-widht padding-10">
        <div class="row">
            <div class="col-12 col-md-12 sec-bg">

                <div class="sec-bg">  <img src="~/img/Ashokrao_Kisan_Thorat.png" />               </div>
                <div class="sec-title">   संस्थेचे आधारस्तंभ  आणि  आमचे मार्गदर्शक              </div>
                <div class="sec-name">    संस्थेचे सचिव मा. श्री. अशोकराव किसन थोरात              </div>
                <p class="text-justify">

                    <strong>श्री मळाईदेवीच्या कृपेने,</strong> <br /><br />
                    &nbsp;&nbsp;&nbsp;&nbsp; श्री मळाईदेवी शिक्षण संस्थेची स्थापना जून १९७२ रोजी परमपूज्य ब्रम्हिभूत गंगाधर वासुदेव चैतन्य महाराज यांच्या अध्यक्षतेखाली झाली.
                    समाजातील गरीब, कष्टकरी, शेतकरी, मागासवर्गीय, मध्यमवर्गीय यांच्या मुलामुलींचे दर्जेदार शिक्षण बालवाडीपासून महाविद्यालयापर्यंत झाले पाहिजे.
                    या उदात्त हेतूने स्थापना झाली. अल्पावधीतच संस्थेने पहिले माध्यमिक विद्यालय मलकापूर येथे सुरू केले व पुढे
                    आगाशिवनगर, पोतले, कासारशिरंबे, बालवाडी ते उच्च माध्यमिक अशी अनेक शाळा, महाविद्यालये स्थापन केली.
                </p>
                <p class="text-justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;गुणवंत विद्यार्थी घडवत असताना शिक्षक ,कर्मचारी, विद्यार्थी, पालक, समाज, शासन यांचे उत्तम सहकार्य लाभले.
                    संस्थेने समाजातील दानशूर व्यक्तींच्या व माजी विद्यार्थ्यांच्या सहकार्याने व स्वनिधीतून प्रत्येक शाळेसाठी जागा खरेदी करून भव्य इमारती बांधल्या.
                    शिक्षक व्यवस्थेमध्ये जागतिकीकरण व प्रगत विज्ञान तंत्रज्ञान याचे आव्हान स्वीकारून शिक्षकांचे प्रशिक्षण करून संगणक
                    व इतर वैज्ञानिक प्रणालीचा शिक्षणात वापर केला.
                    प्रचंड वेगाने बदलणारे, झपाट्याने पुढे चाललेले प्रगत जग, वाढणारी लोकसंख्या व बदलणारे त्रासदायक हवामान याशिवाय राहणीमान व
                    बदलणारे मानवी सांस्कृतिक निकष अशा सर्व आव्हानांना सहज पेलू शकतील असे विद्यार्थी घडवण्यासाठी
                    श्री मळाईदेवी शिक्षण संस्था सातत्याने कार्यरत आहे.
                </p>
                <p class="text-justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;संस्थेचे संस्थापक व विद्यमान सदस्य, सभासद , आजी-माजी शिक्षक शिक्षिका, विद्यार्थी, पालक, शिक्षणप्रेमी, कार्यकर्ते, नेते, राजकीय, पदाधिकारी, सामाजिक कार्यकर्ते,
                    शासकीय अधिकारी, स्थानिक स्वराज्य संस्थेचे अधिकारी, पदाधिकारी सर्वांना विनंती करतो की शिक्षण हे पवित्र क्षेत्र आहे
                    व त्याच भावनेने आपण सर्वांनी आपले मतभेद विसरून एकत्र कार्य केले पाहिजे.
                    आपल्या समाजातील भावी पिढ्या आपल्या कर्तृत्वपूर्तीकडे डोळे लावून बसल्या आहेत याची जान ठेवून शिक्षण देण्यासाठी एकत्र येवून संघटित
                    होवूया. व तनमनधन अपूर्ण कर्तव्य करत राहूया. भविष्यकाळ उज्वल आहे.
                    नव्या आशेने सातत्याने कार्यरत राहूया.

                </p>

                <p class="" style="text-align:right">
                    धन्यवाद!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                    श्री. अशोकराव किसन थोरात&nbsp;&nbsp;&nbsp;
                </p>
            </div>
        </div>
    </div>
</div> <!-- sec-bg end -->
<!--CONTACT CONTAINER START-->
<!--CONTACT CONTAINER END-->

<div class="full-widht">
    <div class="container full-widht">
        <div class="row">
            <div class="col-12 col-md-12 ">
                @Html.Partial("_nofitications")
            </div>
        </div>
    </div>
</div>

<script>
    function onload() {
        $('[data-toggle="lightbox"]').on("click", function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        // $('#feedbackCarousel').bsTouchSlider();
    }
</script>
