
@{
    ViewBag.Title = "यशस्वी विद्यार्थी";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">


            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>सन २०१८-१९ NMMS – शिष्यवृत्तीधारक विद्यार्थिनी</th>
                            <th> वर्ग</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>कु. एश्वर्या हणमंत आणेकर </td><td>इ. ८ वी</td></tr>
                        <tr><td>कु. श्रावणी नथुराम पवार </td><td>इ. ८ वी</td></tr>
                        <tr><td>श्रेया विकास नलवडे </td><td>इ. ८ वी</td></tr>
                    </tbody>
                </table>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12">
                &nbsp;
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>वैदिक गणित – पुणे येथील स्टेट लेवल, बेंगलोर येथील नॅशनल लेवल उत्तीर्ण होवून व्हिएतनाम येथील अंतरराष्ट्रीय स्पर्धेसाठी निवड</th>
                            <th> वर्ग</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>कु. आकांक्षा विकास चव्हाण </td><td>इ. ९ वी</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                &nbsp;
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>इंग्लिश मॅरेथॉन राज्यस्थरीय निवड</th>
                            <th> वर्ग</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>कु. जान्हवी जयदीप पाटील </td><td> इ. ६ वी</td></tr>
                        <tr><td>कु. पायल शंकर वायदंडे </td><td> इ. ६ वी</td></tr>
                        <tr><td>कु. शर्वरी हेमंत शिंदे </td><td> इ. ६ वी</td></tr>
                        <tr><td>कु. वैष्णवी प्रकाश कचरे </td><td> इ. ६ वी</td></tr>
                        <tr><td>कु. धर्ती तुकाराम वाईकर </td><td> इ. ७ वी</td></tr>
                        <tr><td>कु. निकिता दिलीप थोरात </td><td> इ. 7वी</td></tr>
                        <tr><td>कु. प्रपृतुजा अर्जुन पाटील </td><td> इ. ७ वी</td></tr>
                        <tr><td>कु. समृद्धि हणमंत गावडे </td><td> इ. ७ वी</td></tr>
                        <tr><td>कु. सइ. सुनील जाधव </td><td> इ. ८ वी</td></tr>
                        <tr><td>कु. श्रुती राजाराम पाटील </td><td> इ. ८ वी</td></tr>
                        <tr><td>कु. श्रुतिका लक्ष्मण पाटील </td><td> इ. ८ वी</td></tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

