
@{
    ViewBag.Title = "कलादालन";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
<div class="full-widht container-bg">
    <div class="container">
        <div class="row">
            <h5 class="page-header-title col-md-12">शाळेबद्दल > कलादालन</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>

</div>

<div class="full-widht container-bg">
    <div class="container">
        <div class="row">
            content goes here
        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>



