
@{
    ViewBag.Title = "ग्रंथालय";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
<div class="full-widht container-bg">
    <div class="container">
        <div class="row">
            <h5 class="page-header-title col-md-12">शाळेबद्दल > ग्रंथालय</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>

</div>

<div class="">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            
            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12">
                <img src="~/img/departments/library.PNG"  class="title-image"/>

                <div class="col title-para">&nbsp; <br /> <strong>ग्रंथालय व पुस्तकपेढी</strong> </div>
                <div class="col">
                    <p class="text-justify">
                        विद्यालयामध्ये सुसज्ज ग्रंथालय आहे. 
                        विद्यार्थ्यांना वाचनासाठी बालग्रंथालय, कथा, कादंबरी, मासिके, अशा प्रकारे ग्रंथालयात ७४८५ पुस्तके उपलब्ध आहेत.
                        तसेच विद्यार्थ्यांसाठी पुस्तकपेढी योजना राबवली जाते.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                @Html.Partial("_nofitications")
            </div>
        </div>

    </div>
</div>
    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>



