
@{
    Layout = null;
}
<!-- Slider start -->
<div class="full-widht menu-bg">

    <div id="feedbackCarousel" class="carousel slide" data-ride="carousel">
        <div class="history-title text-center">
            पालकांचे मनोगत
        </div>
        <ol class="carousel-indicators">
            <li data-target="#feedbackCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#feedbackCarousel" data-slide-to="1"></li>
            <li data-target="#feedbackCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="4000">
                <div class="container">
                    <div class="row feedback-text">
                        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <div class="col">
                                <img src="~/img/parent.png" width="150px" style="border-radius:50%" />
                            </div>
                            <div class="col text-center font-weight-bold feedback-name">
                                सौ. जयश्री व श्री. प्रमोद तडाखे
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 feedback-text-container text-justify">
                            <img src="~/img/quote-left.png" class="quote-img-left" />
                            आम्ही सौ. जयश्री व श्री. प्रमोद तडाखे आमची कन्या कु. हिंदवी तडाखे हिचे शैक्षणिक जीवनाच्या आदर्श शिशुविहार मधील प्रथम वर्षाच्या निमित्ताने आमचे मनोगत व्यक्त करते की जस, केवळ वाचन महत्वाचे  असून आपण काय चांगले वाचाल हे महत्वाचे असतं त्याच पद्धतीने निव्वळ आपण शिकतो या पेक्षा आपण काय शिकतो आणि किती दर्जेदार उत्तम पद्धतीच शिकतो हे महत्वाचं असत कारण भूगर्भातून बाहेर पाडलेल्या अंकुराचे वटवृक्ष होण्यासाठी अंकुरावर सोपस्कर होणे गरजेचे असते.
                            <br />आदर्श शिशु विहार स्वतची जवाबदारी पार पडत असून पालक मेळावे वगेरे माध्यमातून शिक्षक पालक बाल्य संवाद निर्माण करून पाल्याचा आलेखपटमांडून शिक्षक पालक यांचे जवाबदारीची जाणीव करून देवून त्यांचे पूर्तीसाठी निरंतर प्रयत्नशील असण्याची जाणीव आम्हास झाली.
                            <br />आम्ही आदर्श शिशु विहार या शाळेत श्रेय देवून त्याचे मनस्वी अभिनंदन करतो आपले हे तृन वृद्धिगत होवो हीच अपेक्षा.

                            <img src="~/img/quote-left.png" class="quote-img-right" />
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="carousel-item" data-interval="4000">
                <div class="container">
                    <div class="row feedback-text">
                        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <div class="col">
                                <img src="~/img/parent.png" width="150px" style="border-radius:50%" />
                            </div>
                            <div class="col text-center font-weight-bold feedback-name">
                                सौ. स्मिता जगदाळे
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 feedback-text-container text-justify">
                            <img src="~/img/quote-left.png" class="quote-img-left" />
                            मी सौ. स्मिता संग्राम जगदाळे आपल्या आदर्श शिशु विहार व प्राथमिक विद्यालयामधुन मिळणार्‍या सर्व शैक्षणिक सेवा व सुविधांबाबत खूप समाधानी आहे. फक्त शैक्षणिकच न्हावे तर त्याबरोबर मिळणार्‍या क्रिडा संस्कृतिक, नैतीक मूल्य व सामाजिक जडण घडण घडवणार्‍या सर्व कलगुणांना इथे वाव मिळतो येथील सर्व शिक्षक हे वेगवेगळ्या शैक्षणिक पद्धतीचा व साहित्याचा वापर करून मुलांमध्ये असणार्‍या अंगीभूत कालगुणांची व शिक्षणाची जाणीव करून देवून आवड निर्माण करतात. इथे आसनार्‍या ग्रंथालय, आरोग्य विभाग, स्वच्छतागृह पिण्याचे पाणी इ. अनेक सुविधा योग्य पद्धतीने ठेवल्या आहेत. एकूणच येथील शिक्षक व कर्मचारी यांच्याकडून मिळणार्‍या योग्य वर्तवणुकीचा या शाळेतील पालक पल्या हा समाधानी आहे. तसेच या शाळेबद्द्ल अभिप्राय लिहाण्याची माला संधी दिली याबद्दल मी मांनापासून आभारी आहे.
                            <img src="~/img/quote-left.png" class="quote-img-right" />
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <a class="carousel-control-prev" href="#feedbackCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#feedbackCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- slider end -->
