
@{
    ViewBag.Title = "मुख्याध्यापक कक्ष";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


    <div class="container padding-top-15 padding-bottom-15">
        <div class="row">

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="principal-photo">
                    <img width="340" src="~/img/img_pricipal.png" />
                </div>
                <div class="principal-name">
                    श्रीमती पोटे विजया अशोक
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td><img src="~/img/icon_calll24x24.png" /></td>
                            <td> शिक्षण S.Y.B.A.  (बालवाडी कोर्स शिवाजी विद्यापीठ, कोल्हापूर)  	</td>
                        </tr>
                        <tr>
                            <td><img src="~/img/icon_calll24x24.png" /></td>
                            <td><a href="mailto:"> </a> </td>
                        </tr>
                        <tr>
                            <td><img src="~/img/icon_calll24x24.png" /></td>
                            <td> <a href="tel:9850308147">९८५०३०८१४७</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="para-title">मुख्याध्यापकांचा संदेश </div>
                <p class="para-text">
                    मी श्रीमती विजया अशोक पोटे आदर्श शिशु विहारची मुख्याध्यापिका आहे या शाळेमध्ये मी १९९३  साला पासून आज अखेर मुख्याध्यापक या पदावर कार्यरत आहे. श्री मळाईदेवी शिक्षण संस्थेचे सचिव श्री. आशोकराव किसन थोरात (भाऊ)  यांनी लावलेल्या या रोपट्यामध्ये सुरवातीला फक्त २३ विद्यार्थी होते आणि आज या तयार झालेल्या वटवृक्ष मध्ये १२० विद्यार्थी ज्ञान घेत आहेत. आमच्या या शिशुविहार मध्ये विद्यार्थ्यांना फक्त ज्ञान न देता त्यांचा सर्वांगीण विकास करण्याकडे सतातत्याने भर दिला जातो. तसेच आम्ही विद्यार्थ्यांना ग्रंथालय संगणक, खेळ, डिजीटल क्लासरूम, शारीरिक व मानसिक आरोग्य तपासणी इत्यादी विविध माध्यमातून विद्यार्थ्यांना सुविधा पुरवण्याचे काम करत आहोत. आज या आदर्श शिशुविहरला मोठे स्वरूप प्राप्त होण्यासाठी मी मळाईदेवी शिक्षण संस्थेचे अध्यक्ष, उपाध्यक्ष, सचिव, सदस्य, तसेच शिक्षक शिक्षकेतर कर्मचारी, आजी माजी पालक वर्ग या सर्वांचे सहकार्य लाभलेले आहे.
                </p>
                <p class="para-text">
                    आज हे आदर्श शिशुविहार एक छोटे बाल मंदिर असून भविष्य काळात ते एक मलकापुर मधील मोठे बालमंदिर होईल यातूनच भविष्याची आदर्श पिढी घडवण्याचे काम सातत्याने चालत राहील.
                </p>

            </div>


        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>

