
@{
    ViewBag.Title = "वैशिष्ट्ये";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
<div class="full-widht container-bg">
    <div class="container">
        <div class="row">
            <h5 class="page-header-title col-md-12">शाळेबद्दल > वैशिष्ट्ये</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>

</div>

<div class="">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>विद्यालयाची वैशिष्ट्ये </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <ul>
                    <li>
                        भव्य व सुसज्ज इमारत
                    </li>
                    <li>
                        उत्कृष्ठ निकालाची उज्वल परंपरा
                    </li>
                    <li>
                        इ. ५ वी. ते १० वी. सेमी इंग्रजी माध्यमाची सुविधा
                    </li>
                    <li>
                        डिजिटल क्लासरुमचा अद्यापनासाठी प्रभावी वापर
                    </li>
                    <li>
                        अनुभवी अद्यापक वर्ग व शिक्षक संगणक प्रशिक्षित
                    </li>
                    <li>
                        समृद्ध ग्रंथालय, पुस्तकपेढी योजना
                    </li>
                    <li>
                        सुसज्ज प्रयोगशाळा तसेच ICT ची स्वतंत्र प्रयोगशाळा
                    </li>
                    <li>
                        अद्यावत इंटरनेट संगणक कक्ष
                    </li>
                    <li>
                        विविध शासकीय व बाय्य परीक्षांचे मार्गदर्शन NTS , NMMS , इ. ५ वी. व इ. ८ वी. शिष्यवृत्ती, ५ वी जवाहर नवोदय SDTS दुर्गादेवी ट्रस्ट शिष्यवृत्ती
                    </li>
                    <li>
                        शैक्षणिक, औद्योगिक, प्रेक्षणीय परिसर निसर्ग निरीक्षण सहली, वर्षातून दोन वेळा पालक भेट व पालक मेळावे
                    </li>
                    <li>
                        प्रज्ञावंत विद्यार्थ्यांना  स्वतंत्र मार्गदर्शन
                    </li>
                    <li>
                        उन्हाळी क्रीडा व व्यक्तिमत्व विकास प्रशिक्षण, क्रीडा स्पर्धा, तज्ञ् प्रशिक्षक मार्गदर्शन व नियमित सराव
                    </li>
                    <li>
                        मागासवर्गीय विद्यार्थ्यांसाठी शासकीय शिष्यवृत्ती योजना
                    </li>
                    <li>
                        गरीब व हुशार विद्यार्थ्यांसाठी सावित्रीबाई फुले दत्तक पालक योजना, सावित्रीबाई फुले शिष्यवृत्ती योजना
                    </li>
                    <li>
                        राष्ट्रीय छात्रसेना (NCC) प्रशिक्षणाची सोय
                    </li>
                    <li>
                        विद्यार्थी संचयिका, राष्ट्रीय मार्ग ओलांडताना विद्यार्थ्यांना सहाय्य
                    </li>
                    <li>
                        आर.एस.पी., स्काऊट गाईड व एम.सी.सी. ची सोय
                    </li>
                    <li>
                        गुणवंत विद्यार्थ्यांना शैक्षणिक साहित्य व गणवेश मदत
                    </li>
                    <li>
                        वर्षातून दोन वेळा विद्यार्थी वैद्यकीय तपासणी
                    </li>
                    <li>
                        संगीत, नृत्य, समूह गीत गायन, नाट्य, चित्रकला, रांगोळी, वर्क्तृत्व, निबंध, सुंदर हस्ताक्षर, शुद्ध व श्रुतलेखन स्पर्धा व मार्गदर्शन
                    </li>
                    <li>
                        स्वच्छ शाळा, सुंदर शाळा, राष्ट्रीय हरित सेना, बीजारोपण, वृक्षारोपण, निसर्ग संवर्धन इत्यादी सामाजिक उपक्रमात सहभाग, पर्यावरण संवर्धन, बुधवार नॉन व्हेहिकल डे
                    </li>
                    <li>
                        शैक्षणिक साधन निर्मिती व प्रदर्शन
                    </li>
                    <li>
                        व्यवसाय मार्गदर्शन - मानसशास्त्र कसोटीद्वारा शैक्षणिक मार्गदर्शन सोय उपलब्ध
                    </li>
                    <li>
                        अहिल्याबाई होळकर मोफत पास योजना
                    </li>
                    <li>
                        NEET परीक्षा मार्गदर्शन
                    </li>
                    <li>
                        विद्यार्थी शिस्तीसाठी CCTV यंत्रणा कार्यान्वीत
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
