
@{
    ViewBag.Title = "मुख्याध्यापक कक्ष";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
<div class="full-widht container-bg">
    <div class="container">
        <div class="row">
            <h5 class="h5 page-header-title col-md-12"><strong > मुख्याध्यापक कक्ष </strong></h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>

</div>

<div class="full-widht container-bg">
    <div class="container padding-top-15 padding-bottom-15">
        <div class="row">

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="principal-photo">
                    <img width="340" src="~/img/img_pricipal.png" />
                </div>
                <div class="principal-name">
                    आ. च. विद्यालय
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td><img src="~/img/icon_calll24x24.png" /></td>
                            <td>श्री. पाटील रामराव रघुनाथ </td>
                        </tr>
                        <tr>
                            <td><img src="~/img/icon_calll24x24.png" /></td>
                            <td><a href="mailto:rrpatil_karad@rediffmail.com">rrpatil_karad@rediffmail.com</a> </td>
                        </tr>
                        <tr>
                            <td><img src="~/img/icon_calll24x24.png" /></td>
                            <td> <a href="tel:9860963638">९८६०९६३६३८</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="para-title">मुख्याध्यापकांचा संदेश </div>
                <p class="para-text">
                    श्री. मळाईदेवी शिक्षण संस्थेचे आ. च. विद्यालय व आदर्श ज्युनिअर कॉलेज हे मातृशाळा आहे.
                    संस्थेचे सचिव, मा. अशोकराव थोरात (भाऊ), अध्यक्ष व सर्व संचालक मंडळ यांचे मार्गदर्शनाखाली ही शाळा उत्कृष्ट चाललेली आहे.
                    विद्यालयांमध्ये सामाजिक जाणीव निर्माण होण्यासाठी बीजारोपण, वृक्षारोपण, जलसाक्षरता, प्रदूषण विरहित व फटाकेमुक्त दीपावली, जागतिक तापमानवाढ, 
                    नॉनव्हेइकल डे अशा प्रकारचे सामाजिक उपक्रम राबवले जातात.
                    सुप्त कलागुणांच्या विकासासाठी संगीत, कथ्थक नृत्य, नाट्य, कथाकथन, काव्यनिर्मिती व वाचन याबाबत प्रशिक्षण दिले जाते.
                    विद्यालयातील अप्रगत विद्ययार्थ्यांसाठी पूरक मार्गदर्शनक व 
                    वाचन लेखन प्रकल्प प्रभावीपणे राबवला जातो. विद्यार्थ्यांमध्ये वैज्ञानिक दृष्टीकोन निर्माण होण्यासाठी शैक्षणिक साहित्य निर्मिती विज्ञान उपकरणे निर्मिती व 
                    प्रदर्शनाचे आयोजन केले जाते.
                </p>

                
                <p class="para-text">
                    आमचे विद्यालयामध्ये दर्जेदार व गुणवत्तापूर्ण शिक्षण दिले जाते. आ. च. विद्यालय हे एक आदर्श शैक्षणिक संकुल आहे.
                </p>

            </div>


        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>

