
@{
    ViewBag.Title = "शिक्षक व कर्मचारी";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
<div class="full-widht container-bg">
    <div class="container">
        <div class="row">
            <h5 class="page-header-title col-md-12 "><strong>शाळेबद्दल > शिक्षक व कर्मचारी</strong> </h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>

</div>

<div class="">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>अध्यापक  वर्ग </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">शिक्षकाचे नाव   </th>
                            <th scope="col">शैक्षणिक व व्याव. पात्रता</th>
                            <th scope="col">हुद्दा</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>	<td>१.</td>		<td scope="row">श्री. पाटील रामराव रघुनाथ </td> <td> बी. एस्सी. एम. एड. </td> <td>    मुख्याद्यापक  </td></tr>
                        <tr>	<td>२.</td>		<td scope="row">श्री. गाडे सावंता यदु </td> <td> बी. ए. बी. एड. </td> <td>    उपमुख्याद्यापक  </td></tr>
                        <tr>	<td>३.</td>		<td scope="row">श्री. शिर्के अनिल निवृत्ती </td> <td> बी. एस्सी. बी. एड. </td> <td>    पर्यवेक्षक  </td></tr>
                        <tr>	<td>४.</td>		<td scope="row">श्री. शिर्के शेखर भाऊसो </td> <td> एम. एस्सी. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>५.</td>		<td scope="row">श्री. थोरात अशोक बाबुराव </td> <td> एम. एस्सी. बी. एड.  </td> <td>    सहाय्यक शिक्षिका  </td></tr>
                        <tr>	<td>६.</td>		<td scope="row">श्री. बुरुंगले भारत गणपती </td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षिका  </td></tr>
                        <tr>	<td>७.</td>		<td scope="row">श्री. फराळे मारुती पिरगौडा </td> <td> एम. ए. बी. एड. </td> <td>    सहाय्यक शिक्षिका  </td></tr>
                        <tr>	<td>८.</td>		<td scope="row">श्री चौगुले रमेश शिवाजी </td> <td> एम. एस्सी. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>९.</td>		<td scope="row">सौ. येडगे वनिता राजाराम </td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>१०.</td>		<td scope="row">सौ. भोरे सुनंदा रविंद्रकुमार </td> <td> एम. ए. एम. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>११.</td>		<td scope="row">कु. माने सुरेख हिंदुराव </td> <td> एम. ए. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>१२.</td>		<td scope="row">श्री. कांबळे महेश वसंतराव </td> <td> एम. एस्सी. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>१३.</td>		<td scope="row">श्रीमती पवार रंजना आबासाहेब</td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षिका  </td></tr>
                        <tr>	<td>१४.</td>	<td scope="row">श्री. देसाई रंगराव रामू</td> <td> एम. ए. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>१५.</td>	<td scope="row">कु. मुल्ला हासिना बेगम</td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>१६.</td>	<td scope="row">श्री. कवळे ज्ञानदेव विष्णू </td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>१७.</td>	<td scope="row">श्री. खाडे प्रमोद दत्तू </td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>१८.</td>	<td scope="row">कु. खाडे सिमा भीमराव </td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षिका  </td></tr>
                        <tr>	<td>१९.</td>		<td scope="row">राठोड रामचंद्र केमु  </td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२०.</td>	<td scope="row">श्री. चोरे बळीराम ग्यांतीलाल </td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२१.</td>		<td scope="row">सौ. पवार अर्चना विकास </td> <td> बी. एस्सी. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२२.</td>	<td scope="row">सौ. जाधव राजांनी रवींद्र </td> <td> बी. ए. डी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२३.</td>	<td scope="row">सौ. येडगे विजया सुखदेव </td> <td> एस. एस. सी. डी. एड </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२४.</td>	<td scope="row">श्री. कारले जगन्नाथ नारायण </td> <td> बी. ए. डी. एड </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२५.</td>	<td scope="row">सौ. देसाई संगीता विष्णू </td> <td> एस. एस. सी. डी. एड </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२६.</td>	<td scope="row">सौ. कांबळे संगीता तुळशीदास </td> <td> एस. एस. सी. डी. एड </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२७.</td>	<td scope="row">श्री. लादे सुधीर शिवाजीराव </td> <td> बी. एस्सी. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२८.</td>	<td scope="row">श्री. पाटील बाजीराव रामचंद्र </td> <td> बी. एस्सी. बी. एड. </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>२९.</td>	<td scope="row">श्री. पांढरपट्टे राजेंद्र संभाजी </td> <td> ए. टी. डी. जी. डी. आर्ट </td> <td>    सहाय्यक शिक्षक  </td></tr>
                        <tr>	<td>३०.</td>	<td scope="row">श्री. तोरणे विजयकुमार साधू </td> <td> एच. एस. सी. </td> <td>    संगीत विशारद </td></tr>
                        <tr>	<td>३१.</td>		<td scope="row">श्री. तांबवेकर शरदकुमार काशिनाथ </td> <td> बी. कॉम. </td> <td>  संगीत विशारद </td></tr>
                        <tr>	<td>३२.</td>	<td scope="row">सौ. थोरात उर्मिला अजित   </td> <td> बी. ए. बी. एड. </td> <td>    सहाय्यक शिक्षिका  </td></tr>
                        <tr>	<td>३३.</td>	<td scope="row">सौ. पाटील सविता अशोक  </td> <td>बी. ए. डी. एड</td> <td>   सहाय्यक शिक्षिका   </td></tr>
                        <tr>	<td>३४.</td>	<td scope="row">सौ. लिंबारे मंदाकिनी महेंद्र  </td> <td>एस. एस. सी. डी. एड.</td> <td>   सहाय्यक शिक्षिका   </td></tr>


                        

                    </tbody>
                </table>

                <div class="col title-para"> <br />&nbsp;<br />&nbsp;<strong>शिक्षकेत्तर कर्मचारी</strong>  <br /> &nbsp;</div>
                <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12 text-justify">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> नाव </th>
                                <th scope="col">हुद्दा</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">सौ. पाखले अंजली संग्राम </td>
                                <td>
                                    लेखनिक
                                </td>
                            </tr>

                            <tr>
                                <td scope="row">श्री. शिर्के पंडित निवृत्ती </td>
                                <td>
                                    प्रयोगशाळा परिचर
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">श्री. माळी अभिमान अर्जुन </td>
                                <td>
                                    नाईक
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">श्री. लोहार सुदाम ज्ञानू </td>
                                <td>
                                    शिपाई
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">श्री. हिंगसे दत्तात्रय गणपती </td>
                                <td>
                                    शिपाई
                                </td>
                            </tr>
                            <tr><td scope="row">श्री. पानस्कर अमर श्रीपती </td><td> शिपाई </td></tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>


