
@{
    ViewBag.Title = "जिमखाना";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">सुविधा</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12 card p-0">
                <div class="card-header font-weight-bold">
                    <strong>@ViewBag.Title</strong>
                </div>
                <img src="~/img/departments/sports.PNG" class="title-image" />

             
                <div class="col">
                    <p class="text-justify">
                        <br />

                        उच्च माध्यमिक विद्यालयास भव्य क्रीडांगण असून क्रिकेट,व्हालिबॉल, फुटबॉल वेटलिफ्टिंग, रिंग टेनिस,कबड्डी, खो-खो इ. खेळांची सोय करण्यात आली आहे.
                        विद्यार्थ्यांच्या अंगी असणारे क्रीडागुण विचारात घेऊन त्या प्रकारातील सराव तज्ञ मार्गदर्शकांचा कडून घेतला जातो.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                @Html.Partial("_nofitications")
            </div>
        </div>

    </div>
</div>