
@{
    ViewBag.Title = "Awards";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">


            @*<div class="col-lg-12 col-md-12 col-sm-12">
                <p class="text-justify">
                    <strong>विविध मान्यवरांची पारितोषिके</strong>
                </p>
                <table class="table">
                    <thead class="tableheader-1">
                        <tr>
                            <th>मान्यवर </th>
                            <th> पारितोषिके</th>
                        </tr>
                    </thead>
                    <tbody class="tableheader-1">

                        <tr><td>मा. श्री. आशोकराव किसन थोरात</td><td>कै. किसन बाळा थोरात, कै. वैजयंता किसान थोरात यांचे स्मरणार्थ आदर्श विद्यार्थिनी परितोषिक</td></tr>

                        <tr><td>कै. स्व. सै. ज्ञानदेव श्रीपती कराळे</td><td>सावित्रीबाई फुले आदर्श विद्यार्थिनी परितोषिक</td></tr>

                        <tr><td>श्री. विलास रामकृष्णराव (उडपी)</td><td>उडपी आदर्श विद्यार्थिनी २०१ रु. कै. अनुसया निवृत्ती शिर्के यांचे स्मरणार्थ  </td></tr>

                        <tr><td>श्री. निवृत्ती ज्ञानदेव शिर्के </td><td>  विज्ञान विषयात प्रथम 3 क्रमांकास ५०१ रु</td></tr>

                        <tr><td>श्री. रविंद्र माधवराव जाधव (वारुंजी)</td><td>इ. ८ वी ते १० वी वर्गातील प्रथम क्र. भेटवस्तू. </td></tr>

                        <tr><td>श्री. भास्कर भगवान मोहिते, सौ सुशीला भास्कर मोहिते</td><td>इ. ५ वी ते १० वी वर्गातील प्रथम ३ क्र ३०१</td></tr>
                        <tr><td>श्री. मधुकर कुलकर्णी</td><td>१०० रु कायम ठेव. </td></tr>
                        <tr><td>श्री. कृष्णजी शंकर भुसारी </td><td>  इंग्रजी विषयातील प्रथम ३ क्र. रोख बक्षीस. </td></tr>
                        <tr><td>श्री. व्ही. डी. किर्वे (सहाय्यक पोलिस निरीक्षक महामार्ग) कराड </td><td>  १० वी प्रथम क्र. ५००० कायम ठेव. </td></tr>
                        <tr><td>सौ. परवीन बागवान मॅडम </td><td>  कै. सौ. रजिया बागवान यांचे स्मरणार्थ ३०० रु. इ. १० वी प्रथम तीन क्रमांक. </td></tr>
                        <tr><td>मा. श्री. दिलीप दत्तात्रय पाटील </td><td>  कै. एल. बी. पाटील (आजीव सदस्य रयत शिक्षण संस्था) यांचे स्मरणार्थ इंग्रजी विषयात प्रथम क्र. ३०० रु. </td></tr>
                        <tr><td>मा. सौ. विजया चंद्रकांत पवार (माजी पर्यव्यक्षिका, कन्यायशाळा)</td><td>  इ. ५ वी ते १० वी वर्गातील प्रथम 3 क्रमांकास</td></tr>
                        <tr><td>मा. श्री. गणेश पवार(सदस्य ग्रा. प. कापील)</td><td>  इ. १० वी वर्गातील प्रथम ३०००, द्वि क्रमांकास २०००. तृतीय क्र. १००० रु.</td></tr>
                        <tr><td>मा श्री अंकुश पाटील (चेअरमन, बाबाजी पतसंस्था) </td><td> इ. ९ वी मधील हुशार व गरजू विद्यार्थिनिंचा शैक्षणिक खर्च जबाबदारी   इ. १० वी मधील वी वर्गातील प्रथम 3 क्रमांकास रोख परितोषिक</td></tr>

                        <tr><td>मा.  डॉ.  श्री. प्रशांत कदम </td><td>  १०००० कायम ठेव </td></tr>


                    </tbody>
                </table>
            </div>*@

        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

