
@{
    ViewBag.Title = "मुख्याध्यापक कक्ष";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


        <div class="container padding-top-15 padding-bottom-15">
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="principal-photo">
                        <img width="340" src="~/img/img_pricipal.png" />
                    </div>
                    <div class="principal-name">
                        श्री. सचिन व्यंकटराव शिंदे
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> B.A. D.Ed. 	</td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td><a href="mailto:"> </a> </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> <a href="tel:9881561794">९८८१५६१७९४</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="para-title">मुख्याध्यापकांचा संदेश </div>
                    <p class="para-text">
                        श्री. मळाईदेवी शिक्षण संस्थेने दर्जेदार प्राथमिक शिक्षणाची हेळसांड होऊ नये म्हणून आदर्श प्राथमिक विद्यालयची स्थापना केली.
                        या शाळेच्या अंकुराचा वटवृक्ष होईपर्यंत विकासाच्या वाटचालीत व प्रगतीत संस्थेचा सिंहाचा वाटा आहे.
                    </p>
                    <p class="para-text">
                        विद्यार्थ्याचा सर्वांगीण विकास होण्याच्या दृष्टीने सकस-आनंददायी-सृजनशील शिक्षणाचा पाया आदर्श प्राथमिक विद्यालयाच्या आरंभाने “श्री मळाईदेवी शिक्षण संस्थेने घातला. मुलांना शिकते करण्याचे अनेक प्रयत्न विद्यालयाने पालक सहभागाच्या बळावर सुरू ठेवले आहेत.


                    </p>
                    <p class="para-text">
                        विद्यालय ही एक सामाजिक संस्था आहे हे मनाशी बाळगून काही मार्गदर्शक तत्वे काटेकोरपणे पाळाली जातात. स्वतंत्र सृजनशील नागरिक घडण्यासाठी मुलांनी सारासर विचार करावयास शिकावे स्वावलंबी व्हावे, त्यांच्यात निर्णय क्षमता निर्माण व्हावी, सर्वांबरोबर काम करण्याची वृत्ती तयार व्हावी, मुले आरोग्य संपन्न व्हावीत. इथल्या मातीचा त्यांना लळा लागावा अशाही काही बाबी मनाशी धरून आम्ही प्रयत्न करत असतो. अभ्यासक्रम शिकता शिकता वर्षभर विद्यालयात विविध उपक्रम आखले जातात ते याच हेतूने.


                    </p>
                    <p class="para-text">
                        समृद्ध व्यक्तिमत्वासाठी वाचनाने महत्व वादातीत आहे. ग्रंथाशी मैत्री केल्याने विचार प्रगल्भ होतात. चिंतन, मनांनाची सवय लागते आणि मुख्य म्हणजे उच्च प्रतीचा आनंद मिळतो. ग्रंथमैत्री जडली की सव्यंग करमणुकीकडे मन वळणारच नाही. तेव्हा ज्ञानी बना, तुम्हा सर्वांना अनेक आशिर्वाद.

                    </p>
                    <p class="para-text">
                        आपणा सर्वांना उन्हाळी सुट्टी आनंददायी व आरोग्यदायी जावो.
                        </p>
                </div>


            </div>

        </div>

    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

