
@{
    ViewBag.Title = "नियम व सूचना";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>विद्यालयाचे नियम </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <ul>
                    <li>
                        सर्व विद्यार्थ्यांनी नियमित व वेळेवर शाळेमध्ये उपस्थित रहावे व नियमित अभ्यास करावा.
                    </li>
                    <li>
                        शालेय गणवेश नियमित वापरावा.
                    </li>
                    <li>
                        शालेय परिसर, वर्ग स्वछ ठेवावा.
                    </li>
                    <li>
                        शाळेतील साहित्याची मोडतोड करू नये.
                    </li>
                    <li>
                        शाळेच्या शिस्तीच्या नियमांचे काटेकोर पालन करावे.
                    </li>
                    <li>
                        शालेय व सहशालेय उपक्रमात सहभाग घ्यावा.
                    </li>
                </ul>
            </div>

            <div class="col title-para"><strong>पालकांना महत्वाच्या सूचना</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <ul>
                    <li>
                        शाळेची वेळ सोमवार ते शुक्रवार – सकाळी १०.३० ते ५.०० शनिवार - सकाळी ७.४५ ते ११.३० अशी राहील.
                    </li>
                    <li>पालकांनी आपल्या शाळेने ठरवून दिलेल्या गणवेशामध्ये पाल्यास वेळेत पाठवावे.</li>
                    <li>शाळेने ठरवून दिलेल्या वेळा पत्रकानुसार संबंधित विषयाची वह्या पुस्तके त्याच्या दप्तरात असावीत तसेच त्याचे दप्तर तपासून बघावे.</li>
                    <li>आपल्या पाल्याच्या वैयक्तिक स्वच्छ्तेकडे लक्ष द्यावे (केस नखे वेळेवर कापवीत).</li>
                    <li>प्रत्तेक महिन्याच्या चौथ्या शुक्रवारी आपल्या पाल्याच्या वैद्यकीय तपासणीसाठी आपण स्वत: उपस्थित राहावे.</li>
                    <li>शालेय कार्यक्रम व उपक्रम तसेच शालेय सभा यावेळी पालकांनी जाणीवपूर्वक उपस्थित राहावे.</li>
                    <li>आपल्या पाल्यास लेखन, वाचन कौशल्य व गुणवत्तेसंदर्भात ईतर बाबीबाबत सतर्क राहून आपल्या पाल्याची प्रगती जाणून घ्यावी.</li>
                    <li>प्रत्येक पालकाने (माता व पिता) यांनी आठवड्यातून एकदा तरी शाळेत येवून आपल्या पाल्याविषयी शिक्षकांजवळ चौकशी करावी.</li>
                </ul>
            </div>



        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>
