
@{
    ViewBag.Title = "मुख्याध्यापक कक्ष";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">


        <div class="container padding-top-15 padding-bottom-15">
            <div class="row">

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="principal-photo">
                        <img width="340" src="~/img/img_pricipal.png" />
                    </div>
                    <div class="principal-name">
                        श्री.मोहिरे जीवन विलास
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> बीए .बी पीएड. </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td><a href="mailto:nekshirambe@gmail.com">nekshirambe@gmail.com</a> </td>
                            </tr>
                            <tr>
                                <td><img src="~/img/icon_calll24x24.png" /></td>
                                <td> <a href="tel:9860213748">९८६०२१३७४८</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="para-title">मुख्याध्यापकांचा संदेश </div>
                    <p class="para-text">
                        श्री.मळाईदेवी शिक्षण संस्थेने कसारशिरंबे या ग्रामीण भागा मध्ये इ 8 वी ते 10 वी मराठी माध्यमाच्या खास करून 
                        मुलींचा शिक्षणाची सोय केली आहे.
                        गेल्या दोन दशकामध्ये मा.सचिव अशोकराव किसन थोरात भाऊ व संचालक यांचे सातत्याने मार्गदर्शन लाभाल्याने विद्यालयाने गरुड भरारी घेतली आहे.
                        विद्यालयचा १० वी चा सातत्याने ९५% पेक्षा जास्त निकाल लागला आहे. 
                        NMMS परीक्षा शिष्यवृत्तीसाठी आजअखेर १३ विद्यार्थी शिष्यवृत्तीधारक झाले आहेत. 
                        वेगवेगळ्या बाह्य परीक्षेत विद्यालयाने उल्लेखनीय यश संपादन केले आहे.
                    </p>
                    <p class="para-text">
                        आमचे विद्यालयामध्ये दर्जेदार व गुणवत्तापूर्ण शिक्षण दिले जाते. आमचे विद्यालय हे एक आदर्श शैक्षणिक संकुल आहे.
                    </p>

                </div>


            </div>

        </div>

    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
    </div>

