
@{
    ViewBag.Title = "शिक्षक व कर्मचारी";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>अध्यापक  वर्ग </strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">शिक्षकाचे नाव   </th>
                            <th scope="col">हुद्दा</th>
                            <th scope="col">शैक्षणिक व व्याव.  पात्रता</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr><td>श्री. मोहिरे जीवन विलास  </td><td>मुख्याध्यापक </td><td>बीए. बी. पीएड.   </td></tr>
                        <tr><td>श्री. सावंत महेश विष्णु  </td><td>उपशिक्षक  </td><td>बीएससी. बी. एड. </td></tr>
                        <tr><td>सौ. गोतपगार शिल्पा नितिन  </td><td>उपशिक्षका  </td><td>बीएससी. बी. एड. </td></tr>
                        <tr><td>श्री. थोरात प्रमोद मारुति  </td><td>उपशिक्षक  </td><td>एमए. बी. एड. </td></tr>
                        <tr><td>सौ.  सुतार रूपाली संजय  </td><td>उपशिक्षका  </td><td>बीए. बी. एड. </td></tr>
                        <tr><td>श्री. पावणे दशरत भीमराव   </td><td>लेखनिक  </td><td>एच. एस. सी. </td></tr>
                        <tr><td>श्री. माने शंकर महादेव </td><td>शिपाई  </td><td>एस. एस. सी. </td></tr>
                        <tr><td>श्री. शिर्के अमृत अनिल </td><td>शिपाई  </td><td>एच. एस. सी. </td></tr>
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>


