
@{
    ViewBag.Title = "वैशिष्ट्ये";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>इथेच का यायचे...</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <p class="text-justify">
                    <ul>
                        <li>तीन मजली इमारत</li>
                        <li>प्रशस्त वर्ग</li>
                        <li>प्रशस्त मैदान</li>
                        <li>शालेय क्रीडा साहित्य</li>
                        <li>सुसज्य संगणक कक्ष</li>
                        <li>बालवाडी पासून सेमी इंग्रजीची तयारी.</li>
                        <li>डिजिटल क्लासरूम</li>
                        <li>संगणक कक्ष</li>
                        <li>क्रीडा स्पर्धांची तयारी, क्रीडा गुणांची जोपासना</li>
                        <li>झांज पाथक, दांडपट्टा इत्यादी द्वारे पारंपरिक खेळांची जोपासना</li>
                        <li>दरमहा आरोग्य तपासणी</li>
                        <li>पालकांना विविध पुस्तकांनी समृद्ध असे ग्रंथालय</li>
                        <li>स्नेह संमेलन, शैक्षणिक साहित्य निर्मिती, पालकांसाठी विविध स्पर्धा व मार्गदर्शन</li>
                        <li>पालकांसाठी विविध विषयांवरील मार्गदर्शन व महिला मेळावा.</li>
                        <li>पालकांच्या महितीसाठी मोबाईल द्वारे एसएमएसची सुविधा</li>

                    </ul>

                </p>

                <p class="text-justify">

                    <br />बालवाडी विभागाचे वर्ग-३
                    <br />माध्यम: सेमी इंग्रजी
                    <br />इयत्ता:मोठा गट, मधला गट, लहान गट
                    <br />विद्यार्थी संख्या मुले ६४ मुली ३६ एकूण १००


                </p>
                <p class="text-justify">
                    <strong>पालक भेटी</strong>
                </p>
                <p class="text-justify">
                    विद्यार्थ्यांच्या प्रत्यक्ष घरी जावून त्यांच्या प्रगतिची चर्चा त्या संबंधी उपाय योजनांसाठी पालकभेटी आयोजित केल्या जातात.
                    प्रथम सत्र व द्वितीय सत्रात एक एक पालकभेट करण्यात आली.
                </p>








                <p class="text-justify">
                    <br /><strong>बालबाजार</strong>
                </p>
                <p class="text-justify">

                    आपल्या विद्यालयामध्ये पुस्तकी ज्ञांनावर भर न देता व्यवहारची जोड दिली जाते. विद्यार्थ्यांचे व्यवहारज्ञान, व्यावसायिक ज्ञान वाढावे, एक सक्षम नागरिक व्हावा, या हेतूने भाजी मंडई हा उपक्रम राबविला. त्याला नागरिक व पालकांकडून उस्फूर्त प्रतिसाद दिला.
                    <br />दररोज शाळेत जावून अभ्यासाचा पढा गिरवणारे आणि खेळण्या बागडण्याकडे लक्ष देणार्‍या विद्यार्थ्यांनी चक्क शाळेच्या प्रांगणात फळे, भाजीपाला, खेळणी यांची मंडई भरवली होती. बाजारातील देवाण घेवाणीवरून व्यावसायिक आणि व्यावहारिक जीवनाचे प्रत्यक्ष धडे विद्यार्थ्यांनी गिरवले.
                    <br />ज्या मैदनावर दररोज मुले खेळवताना दिसायची त्याच मैदनाला आज मोठ्या बाजारचे स्वरूप प्राप्त झाले होते.
                </p>

                <p class="text-justify">
                    <br /><strong>गणित लॅब</strong>
                </p>
                <p class="text-justify">

                    ज्ञानरचनावादी शिक्षण पद्धत स्विकारल्यामुळे जास्तीत जास्त शैक्षणिक साहित्याचा वापर करून अध्यापणाचे कार्य केले जाते.
                    या दृष्टीने आपल्या शाळेत प्रशस्त अशी गणित लॅब तयार करण्यात आली आहे.
                    जेणेकरून मुलांना शैक्षणिक साहित्याद्वारे पटकन गणित क्रिया लक्षात येण्यासाठी इयत्तानिहाय शैक्षणिक साहित्य बनवले आहेत.
                    यामुळे मुलांचे गणित विषयक ज्ञान अधिकच दृढ होते.

                </p>




                <p class="text-justify">
                    <br /><strong> हळदी कुंकू कार्यक्रम</strong>
                </p>



                <p class="text-justify">
                    <br /><strong>स्वातंत्र्यदीन व प्रजासत्ताक दिन</strong>
                </p>
                <p class="text-justify">
                    १५ ऑगस्ट स्वतंत्रदिन व २६ जानेवारी प्रजासत्ताक दिन म्हणून साजरा करतो सदर दिवशी
                    स्वातंत्त्र्यासाठी अनेक जांनानी केलेल्या त्याग आनंदाने केलेले बलिदान या त्यांच्या आठवणींना उजळा देणाचा दिवस व
                    आपल्या राष्ट्राविषयी राष्ट्रप्रेम जागृत करणारा दिवस म्हणून साजरा केला जातो.
                    <br />सदर दिवशी ध्वजारोहन कवायत संचलन कवायत प्रकार लेझीम झांजपथक मानवी मनोरे सूर्यनमस्कार बांबू कवायत
                    तळी कवायत पथनाट्य सामूहिक गीते व सर्वात शेवटी मुलांना खावू वाटप करण्यात येतो.

                </p>





            </div>

        </div>
       
    </div>
</div>


