
@{
    ViewBag.Title = "शालेय समिती";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">शाळेबद्दल</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">
            <div class="col title-para"><strong>शालेय समिती</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">अ.क्र.</th>
                            <th scope="col">नाव</th>
                            <th scope="col">हुद्दा</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>१.</td>
                            <td>श्री.वसंतराव चंद्रु चव्हाण</td>
                            <td>अध्यक्ष </td>
                        </tr>
                        <tr>
                            <td>२.</td>
                            <td>श्री.तुळशीराम शंकर शिर्के </td>
                            <td>उपाध्यक्ष</td>
                        </tr>
                        <tr><td>३.</td><td>श्री. भास्करराव बाबूराव पाटील</td><td>नि. सदस्य</td></tr>
                        <tr><td>४.</td><td>श्री. सचिन व्यंकटराव शिंदे </td><td>सचिव</td></tr>
                        <tr><td>५.</td><td>सौ. लता प्रकाश नलवडे </td><td>सदस्या</td></tr>
                        <tr><td>६.</td><td>श्री. रफिक काजेसा सुतार </td><td>सदस्य</td></tr>
                        <tr><td>७.</td><td>कु. अश्विनी तानाजी पाटील </td><td>सदस्या</td></tr>
                        

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col title-para"><strong>शिक्षक पालक संघ</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                 सौ. नलवडे लता प्रकाश
                                <strong>अध्यक्षा </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                सौ. सावळे उर्मिला सुनील
                                <strong>उपाध्यक्षा</strong>
                            </td>
                        </tr>
                       
                    </tbody>

                </table>
</div>
            <div class="col title-para"><strong>शिक्षक पालक संघ</strong>  <br /> &nbsp;</div>
            <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">इयत्ता</th>
                            <th scope="col">शिक्षक प्रतिनिधी</th>
                            <th scope="col">पालक प्रतिनिधी</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr><td>मोठा गट</td><td> सौ. नलवडे लता प्रकाश </td><td>सौ. काचरे स्नेहल प्रफुल्ल</td></tr>
                        <tr><td>मधला गट</td><td>सौ. थोरात कविता दादासो</td><td>सौ. पाटील भारती प्रशांत</td></tr>
                        <tr><td>लहान गट</td><td>सौ. मोहिते संगीता मोहन</td><td>सौ. गरुड दीपली संभाजी</td></tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        &nbsp;
    </div>
</div>


