
@{
    ViewBag.Title = "पालकांसाठी";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="full-widht-bread">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb-sm">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("मुखपृष्ठ", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="full-widht-pagedata">
    <div class="container container-bg padding-bottom-15 padding-top-15">
        <div class="row">

            <div class="col-lg-8 col-xm-12 col-md-8 col-sm-12 card p-0">
                <div class="card-header font-weight-bold">
                    <strong>@ViewBag.Title</strong>
                </div>



                <div class="col">
                    <p class="text-justify">प्रिय पालक बंधु –भगिनींनो!</p>
                    <p class="text-justify">आपल्या पाल्याचे गुणपत्रक नीट पाहून त्याची प्रगती जाणून घ्या. त्याच्या विकासकडे लक्ष द्या. आपल्या पाल्यासाठी काही तास मोकळे ठेवा त्याच्या आवडी निवडी क्षमता जाणून घ्या. त्या दृष्टीने सर्वतोपरी सहकार्य व मार्गदर्शन करा. एखाद्या विषयात तो मागे असेल तर त्या विषयाचा अधिक अभ्यास करवून घ्या.</p>
                    <p class="text-justify">मुलांच्या सर्वांगीण विकासाचे उद्दीष्ट डोळ्यासमोर ठेवून शाळेत विविध प्रकारचे उपक्रम सातत्याने आयोजित केले जातात आपल्या महितीसाठी आम्ही राबवलेल्या विविध उपक्रमांची माहिती तपशीलवार येथे दिली आहे.</p>
                    <p class="text-justify">आपण ज्या विश्वासणे आपली मुले आमच्याकडे सोपवली आहेत तो जाणण्याचा व जपण्याचा आमचा सदैव प्रयत्न असतो. शाळेला आपल्याकडून वेळोवेळी उत्स्फूर्त सहकार्य मिळते त्या बद्दल आपले हार्दिक आभार यापुढेही ते सतत मिळावे ही विनंती.</p>


                </div>

                <div class="col title-para"><strong>पालकांना महत्वाच्या सूचना</strong>  <br /> &nbsp;</div>
                <div class="col-lg-12 col-xm-12 col-md-12 col-sm-12">
                    <ul>
                        <li>
                            शाळेची वेळ सोमवार ते शुक्रवार – सकाळी १०.३० ते २.०० @*शनिवार - सकाळी ७.४५ ते ११.३०*@ अशी राहील.
                        </li>
                        <li>पालकांनी आपल्या शाळेने ठरवून दिलेल्या गणवेशामध्ये पाल्यास वेळेत पाठवावे.</li>
                        <li>शाळेने ठरवून दिलेल्या वेळा पत्रकानुसार संबंधित विषयाची वह्या पुस्तके त्याच्या दप्तरात असावीत तसेच त्याचे दप्तर तपासून बघावे.</li>
                        <li>आपल्या पाल्याच्या वैयक्तिक स्वच्छ्तेकडे लक्ष द्यावे (केस नखे वेळेवर कापवीत).</li>
                        <li>प्रत्तेक महिन्याच्या चौथ्या शुक्रवारी आपल्या पाल्याच्या वैद्यकीय तपासणीसाठी आपण स्वत: उपस्थित राहावे.</li>
                        <li>शालेय कार्यक्रम व उपक्रम तसेच शालेय सभा यावेळी पालकांनी जाणीवपूर्वक उपस्थित राहावे.</li>
                        <li>आपल्या पाल्यास लेखन, वाचन कौशल्य व गुणवत्तेसंदर्भात ईतर बाबीबाबत सतर्क राहून आपल्या पाल्याची प्रगती जाणून घ्यावी.</li>
                        <li>प्रत्येक पालकाने (माता व पिता) यांनी आठवड्यातून एकदा तरी शाळेत येवून आपल्या पाल्याविषयी शिक्षकांजवळ चौकशी करावी.</li>
                    </ul>
                </div>
            </div>
                <div class="col-lg-4 col-xm-12 col-md-4 col-sm-12">
                    @Html.Partial("_nofitications")
                </div>
            </div>

        </div>
</div>



